node-red/flows.json
[
    {
        "id": "8c1ad482c6b9a043",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5d6fbcde78d54451",
        "type": "mqtt out",
        "z": "8c1ad482c6b9a043",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c1cfde3e8574412e",
        "x": 1250,
        "y": 200,
        "wires": []
    },
    {
        "id": "93f29cf6e3b67fca",
        "type": "inject",
        "z": "8c1ad482c6b9a043",
        "name": "Peak Day",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/5 9-16 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "bda2274fc3720195"
            ]
        ]
    },
    {
        "id": "bda2274fc3720195",
        "type": "function",
        "z": "8c1ad482c6b9a043",
        "name": "Peak Day",
        "func": "// =====================================================\n// Peak Day - Full Function (330 messages exactly)\n// Node-RED Function Node\n// Output 1 = { payload: messages, summary, compliance, energy_inputs }\n// =====================================================\n\n// ------------------------------\n// Config\n// ------------------------------\nlet nowMs = Date.now();\nlet lastMs = flow.get(\"lastInjectMs\") || nowMs;\nlet intervalSec = (nowMs - lastMs) / 1000;\nflow.set(\"lastInjectMs\", nowMs);\n\nif (intervalSec <= 0) intervalSec = 1;\n\n// ------------------------------\n// Helpers\n// ------------------------------\nfunction clamp(val, min, max) {\n    return Math.max(min, Math.min(max, val));\n}\n\nfunction pushMsg(arr, topic, device, point, value, extra = {}) {\n    arr.push({\n        topic: topic,\n        payload: JSON.stringify({\n            timestamp: new Date().toISOString(),\n            device: device,\n            point: point,\n            value: Number(value),\n            ...extra\n        })\n    });\n}\n\nfunction getValue(messages, topic) {\n    const item = messages.find(m => m.topic === topic);\n    return item ? JSON.parse(item.payload).value : null;\n}\n\nfunction avg(arr) {\n    if (!arr || arr.length === 0) return null;\n    return arr.reduce((a, b) => a + b, 0) / arr.length;\n}\n\nfunction buildGroupSummary(messages, devices, points, topicBuilder) {\n    const result = {};\n    devices.forEach(deviceObj => {\n        const devKey = deviceObj.key;\n        result[devKey] = {};\n        points.forEach(point => {\n            result[devKey][point] = getValue(messages, topicBuilder(deviceObj, point));\n        });\n    });\n    return result;\n}\n\n// ------------------------------\n// Scenario preset: Peak Day\n// ------------------------------\nconst scenario = \"peak_day\";\nconst scenarioLabel = \"Peak Day - high occupancy, hot weather\";\n\n// Building / weather assumptions for Peak Day\nconst outdoorDryBulb = Number((35.2 + Math.random() * 1.5).toFixed(2));   // 35.2 - 36.7 C\nconst outdoorRH = Number((68 + Math.random() * 8).toFixed(2));            // 68 - 76 %RH\nconst outdoorWetBulb = Number((outdoorDryBulb - (2.5 + Math.random() * 1.5)).toFixed(2));\n\n// Peak day => high load\nconst occupancyFactor = 0.92 + Math.random() * 0.03;\nconst weatherFactor = clamp(((outdoorDryBulb - 30) / 5) * 0.22, 0, 0.3);\nconst loadFraction = Number(clamp(\n    occupancyFactor + weatherFactor + (Math.random() * 0.02 - 0.01),\n    0.82,\n    0.95\n).toFixed(3));\n\n// Plant capacity\nconst TOTAL_CAPACITY_RT = 1500;\nconst totalCoolingRT = Number((TOTAL_CAPACITY_RT * loadFraction).toFixed(2));\n\n// Chiller staging for Peak Day => force 3 chillers\nconst activeChillers = 3;\nconst perChillerRT = Number((totalCoolingRT / activeChillers).toFixed(2));\n\n// Specs\nconst CHILLER_RATED_RT = 500;\nconst CHILLER_RATED_KW = 273;\n\nconst CHWP_RATED_GPM = 1200;\nconst CHWP_RATED_KW = 37;\n\nconst CDP_RATED_GPM = 1500;\nconst CDP_RATED_KW = 55;\n\nconst CT_CELL_RATED_KW = 5.5; // 2 cells per tower\nconst AHU_COUNT = 4;\nconst VAV_COUNT = 16;\nconst IAQ_COUNT = 8;\n\n// ------------------------------\n// Containers\n// ------------------------------\nlet messages = [];\n\nlet chillerPowers = [0, 0, 0];\nlet chwpPowers = [0, 0, 0];\nlet cdpPowers = [0, 0, 0];\nlet ctPowers = [0, 0, 0];\nlet ahuPowers = [0, 0, 0, 0];\nlet floorPowers = [0, 0, 0, 0];\nlet floorMeterPowers = [0, 0, 0, 0];\n// ------------------------------\n// 1) Outdoor Weather Station Points (3)\n// ------------------------------\npushMsg(messages, \"building/weather/1/drybulb_temperature\", \"weather_1\", \"drybulb_temperature\", outdoorDryBulb, {\n    group: \"Outdoor Weather Station Points\",\n    floor: null\n});\npushMsg(messages, \"building/weather/1/humidity\", \"weather_1\", \"humidity\", outdoorRH, {\n    group: \"Outdoor Weather Station Points\",\n    floor: null\n});\npushMsg(messages, \"building/weather/1/wetbulb_temperature\", \"weather_1\", \"wetbulb_temperature\", outdoorWetBulb, {\n    group: \"Outdoor Weather Station Points\",\n    floor: null\n});\n\n// ------------------------------\n// Common chilled water temps\n// ------------------------------\nconst chwSupplyC = Number((6.1 + Math.random() * 0.6).toFixed(2));              // 6.1 - 6.7 C\nconst chwReturnC = Number((12.0 + Math.random() * 0.8).toFixed(2));             // 12.0 - 12.8 C\nconst deltaTC = Number((chwReturnC - chwSupplyC).toFixed(2));\n\nconst chwSupplyF = Number((chwSupplyC * 9 / 5 + 32).toFixed(2));\nconst chwReturnF = Number((chwReturnC * 9 / 5 + 32).toFixed(2));\nconst deltaTF = Number((deltaTC * 9 / 5).toFixed(2));\n\n// ------------------------------\n// 2) Chiller Monitoring Points (3 x 13 = 39)\n// ------------------------------\nfor (let i = 1; i <= 3; i++) {\n    const plr = clamp(perChillerRT / CHILLER_RATED_RT, 0.35, 1.0);\n\n    // efficiency in kW/RT\n    const efficiency = Number(clamp(\n        0.53 + (1 - plr) * 0.10 + Math.random() * 0.02,\n        0.52,\n        0.68\n    ).toFixed(3));\n\n    const powerKW = Number(clamp(perChillerRT * efficiency, 150, CHILLER_RATED_KW).toFixed(2));\n    const evapFlow = Number(clamp(\n        1000 + plr * 180 + Math.random() * 20,\n        1000,\n        CHWP_RATED_GPM\n    ).toFixed(2));\n    const satRefrigTempF = Number(clamp(chwSupplyF - (6 + Math.random() * 2), 34, 40).toFixed(2));\n    const approachTempF = Number(clamp(1.5 + Math.random() * 1.5, 1.5, 3.5).toFixed(2));\n    const percentageRLA = Number((plr * 100).toFixed(2));\n    const coolingRate = perChillerRT;\n    const alarm = 0;\n\n    chillerPowers[i - 1] = powerKW;\n\n    const extra = {\n        group: \"Chiller Monitoring Points\",\n        floor: null,\n        equipment_index: i\n    };\n\n    pushMsg(messages, `building/chiller/${i}/evap_leaving_water_temperature`, `chiller_${i}`, \"evap_leaving_water_temperature\", chwSupplyF, extra);\n    pushMsg(messages, `building/chiller/${i}/evap_entering_water_temperature`, `chiller_${i}`, \"evap_entering_water_temperature\", chwReturnF, extra);\n    pushMsg(messages, `building/chiller/${i}/evap_water_flow_rate`, `chiller_${i}`, \"evap_water_flow_rate\", evapFlow, extra);\n    pushMsg(messages, `building/chiller/${i}/evap_sat_refrig_temperature`, `chiller_${i}`, \"evap_sat_refrig_temperature\", satRefrigTempF, extra);\n    pushMsg(messages, `building/chiller/${i}/evap_water_delta_temperature`, `chiller_${i}`, \"evap_water_delta_temperature\", deltaTF, extra);\n    pushMsg(messages, `building/chiller/${i}/evap_approach_temperature`, `chiller_${i}`, \"evap_approach_temperature\", approachTempF, extra);\n    pushMsg(messages, `building/chiller/${i}/status_read`, `chiller_${i}`, \"status_read\", 1, extra);\n    pushMsg(messages, `building/chiller/${i}/status_write`, `chiller_${i}`, \"status_write\", 1, extra);\n    pushMsg(messages, `building/chiller/${i}/power`, `chiller_${i}`, \"power\", powerKW, extra);\n    pushMsg(messages, `building/chiller/${i}/alarm`, `chiller_${i}`, \"alarm\", alarm, extra);\n    pushMsg(messages, `building/chiller/${i}/percentage_rla`, `chiller_${i}`, \"percentage_rla\", percentageRLA, extra);\n    pushMsg(messages, `building/chiller/${i}/efficiency`, `chiller_${i}`, \"efficiency\", efficiency, extra);\n    pushMsg(messages, `building/chiller/${i}/cooling_rate`, `chiller_${i}`, \"cooling_rate\", coolingRate, extra);\n}\n\n// ------------------------------\n// 3) Pump & Cooling Tower Points (9 x 7 = 63)\n//    CHWP 1-3, CDP 1-3, CT 1-3\n// ------------------------------\nfor (let i = 1; i <= 3; i++) {\n    // CHWP\n    const chwpFreq = Number(clamp(52 + Math.random() * 4, 50, 60).toFixed(2));\n    const chwpPower = Number((CHWP_RATED_KW * Math.pow(chwpFreq / 60, 3)).toFixed(2));\n    const chwpEff = Number((0.75 + Math.random() * 0.03).toFixed(3));\n    chwpPowers[i - 1] = chwpPower;\n\n    let extra = { group: \"Pump & Cooling Tower Points\", floor: null, equipment_index: i };\n    pushMsg(messages, `building/chwp/${i}/status_read`, `chwp_${i}`, \"status_read\", 1, extra);\n    pushMsg(messages, `building/chwp/${i}/status_write`, `chwp_${i}`, \"status_write\", 1, extra);\n    pushMsg(messages, `building/chwp/${i}/alarm`, `chwp_${i}`, \"alarm\", 0, extra);\n    pushMsg(messages, `building/chwp/${i}/frequency_read`, `chwp_${i}`, \"frequency_read\", chwpFreq, extra);\n    pushMsg(messages, `building/chwp/${i}/frequency_write`, `chwp_${i}`, \"frequency_write\", chwpFreq, extra);\n    pushMsg(messages, `building/chwp/${i}/power`, `chwp_${i}`, \"power\", chwpPower, extra);\n    pushMsg(messages, `building/chwp/${i}/efficiency`, `chwp_${i}`, \"efficiency\", chwpEff, extra);\n\n    // CDP\n    const cdpFreq = Number(clamp(51 + Math.random() * 5, 50, 60).toFixed(2));\n    const cdpPower = Number((CDP_RATED_KW * Math.pow(cdpFreq / 60, 3)).toFixed(2));\n    const cdpEff = Number((0.73 + Math.random() * 0.03).toFixed(3));\n    cdpPowers[i - 1] = cdpPower;\n\n    pushMsg(messages, `building/cdp/${i}/status_read`, `cdp_${i}`, \"status_read\", 1, extra);\n    pushMsg(messages, `building/cdp/${i}/status_write`, `cdp_${i}`, \"status_write\", 1, extra);\n    pushMsg(messages, `building/cdp/${i}/alarm`, `cdp_${i}`, \"alarm\", 0, extra);\n    pushMsg(messages, `building/cdp/${i}/frequency_read`, `cdp_${i}`, \"frequency_read\", cdpFreq, extra);\n    pushMsg(messages, `building/cdp/${i}/frequency_write`, `cdp_${i}`, \"frequency_write\", cdpFreq, extra);\n    pushMsg(messages, `building/cdp/${i}/power`, `cdp_${i}`, \"power\", cdpPower, extra);\n    pushMsg(messages, `building/cdp/${i}/efficiency`, `cdp_${i}`, \"efficiency\", cdpEff, extra);\n\n    // Cooling Tower\n    const ctFreq = Number(clamp(45 + Math.random() * 6, 42, 60).toFixed(2));\n    const ctPower = Number((CT_CELL_RATED_KW * Math.pow(ctFreq / 60, 3) * 2).toFixed(2)); // 2 cells\n    const ctEff = Number((0.70 + Math.random() * 0.04).toFixed(3));\n    ctPowers[i - 1] = ctPower;\n\n    pushMsg(messages, `building/ct/${i}/status_read`, `ct_${i}`, \"status_read\", 1, extra);\n    pushMsg(messages, `building/ct/${i}/status_write`, `ct_${i}`, \"status_write\", 1, extra);\n    pushMsg(messages, `building/ct/${i}/alarm`, `ct_${i}`, \"alarm\", 0, extra);\n    pushMsg(messages, `building/ct/${i}/frequency_read`, `ct_${i}`, \"frequency_read\", ctFreq, extra);\n    pushMsg(messages, `building/ct/${i}/frequency_write`, `ct_${i}`, \"frequency_write\", ctFreq, extra);\n    pushMsg(messages, `building/ct/${i}/power`, `ct_${i}`, \"power\", ctPower, extra);\n    pushMsg(messages, `building/ct/${i}/efficiency`, `ct_${i}`, \"efficiency\", ctEff, extra);\n}\n\n// ------------------------------\n// 4) Motorized Valve Points (4 x 3 = 12)\n//    1 per AHU/floor\n// ------------------------------\nconst zoneBias = [1.00, 1.02, 0.98, 1.01];\n\nfor (let floor = 1; floor <= 4; floor++) {\n    const zoneLoad = clamp(loadFraction * zoneBias[floor - 1], 0.2, 1.0);\n\n    // status_read / status_write are per spec table.\n    // Here using valve % open as requested by description style\n    const valveFeedback = Number(clamp(65 + zoneLoad * 25 + Math.random() * 4, 60, 98).toFixed(2));\n    const valveCommand = Number(clamp(valveFeedback + (Math.random() * 4 - 2), 60, 98).toFixed(2));\n    const valveAlarm = 0;\n\n    const extra = {\n        group: \"Motorized Valve Points\",\n        floor: floor,\n        equipment_index: floor\n    };\n\n    pushMsg(messages, `building/mv/${floor}/status_read`, `mv_${floor}`, \"status_read\", valveFeedback, extra);\n    pushMsg(messages, `building/mv/${floor}/status_write`, `mv_${floor}`, \"status_write\", valveCommand, extra);\n    pushMsg(messages, `building/mv/${floor}/alarm`, `mv_${floor}`, \"alarm\", valveAlarm, extra);\n}\n\n// ------------------------------\n// 5) AHU Monitoring Points (4 x 7 = 28)\n// ------------------------------\nfor (let floor = 1; floor <= 4; floor++) {\n    const zoneLoad = clamp(loadFraction * zoneBias[floor - 1], 0.2, 1.0);\n\n    const roomTemp = Number(clamp(23.7 + zoneLoad * 1.2 + (Math.random() * 0.4 - 0.2), 23.5, 25.5).toFixed(2));\n    const setpoint = 23.0;\n    const humidity = Number(clamp(58 + zoneLoad * 6 + Math.random() * 3, 58, 67).toFixed(2));\n    const ahuAlarm = 0;\n    const ahuPower = Number(clamp(12 + zoneLoad * 6 + Math.random() * 1.5, 12, 20).toFixed(2));\n\n    ahuPowers[floor - 1] = ahuPower;\n    floorPowers[floor - 1] += ahuPower;\n\n    const extra = {\n        group: \"AHU Monitoring Points\",\n        floor: floor,\n        equipment_index: floor\n    };\n\n    pushMsg(messages, `building/ahu/${floor}/room_temperature`, `ahu_${floor}`, \"room_temperature\", roomTemp, extra);\n    pushMsg(messages, `building/ahu/${floor}/setpoint`, `ahu_${floor}`, \"setpoint\", setpoint, extra);\n    pushMsg(messages, `building/ahu/${floor}/status_read`, `ahu_${floor}`, \"status_read\", 1, extra);\n    pushMsg(messages, `building/ahu/${floor}/status_write`, `ahu_${floor}`, \"status_write\", 1, extra);\n    pushMsg(messages, `building/ahu/${floor}/humidity`, `ahu_${floor}`, \"humidity\", humidity, extra);\n    pushMsg(messages, `building/ahu/${floor}/alarm`, `ahu_${floor}`, \"alarm\", ahuAlarm, extra);\n    pushMsg(messages, `building/ahu/${floor}/power`, `ahu_${floor}`, \"power\", ahuPower, extra);\n}\n\n// ------------------------------\n// 6) VAV Control Points (16 x 3 = 48)\n//    4 per floor\n// ------------------------------\nfor (let floor = 1; floor <= 4; floor++) {\n    const zoneLoad = clamp(loadFraction * zoneBias[floor - 1], 0.2, 1.0);\n\n    for (let v = 1; v <= 4; v++) {\n        const vavIndex = (floor - 1) * 4 + v;\n\n        const damperPos = Number(clamp(72 + zoneLoad * 18 + Math.random() * 5, 70, 98).toFixed(2));\n        const airflow = Number(clamp(850 + zoneLoad * 140 + Math.random() * 40, 800, 1100).toFixed(2));\n        const damperCmd = Number(clamp(damperPos + (Math.random() * 4 - 2), 70, 98).toFixed(2));\n\n        const extra = {\n            group: \"VAV Control Points\",\n            floor: floor,\n            equipment_index: vavIndex\n        };\n\n        pushMsg(messages, `building/vav/${vavIndex}/damper_position`, `vav_${vavIndex}`, \"damper_position\", damperPos, extra);\n        pushMsg(messages, `building/vav/${vavIndex}/air_flow_rate`, `vav_${vavIndex}`, \"air_flow_rate\", airflow, extra);\n        pushMsg(messages, `building/vav/${vavIndex}/damper_control`, `vav_${vavIndex}`, \"damper_control\", damperCmd, extra);\n    }\n}\n\n// ------------------------------\n// 7) IAQ Sensor Points (8 x 4 = 32)\n//    2 per floor\n// ------------------------------\nfor (let floor = 1; floor <= 4; floor++) {\n    const zoneLoad = clamp(loadFraction * zoneBias[floor - 1], 0.2, 1.0);\n\n    for (let s = 1; s <= 2; s++) {\n        const iaqIndex = (floor - 1) * 2 + s;\n\n        const temperature = Number(clamp(24.2 + zoneLoad * 0.8 + (Math.random() * 0.3 - 0.15), 24.0, 25.6).toFixed(2));\n        const humidity = Number(clamp(58 + zoneLoad * 5 + Math.random() * 2, 58, 66).toFixed(2));\n        const co2 = Number(clamp(780 + zoneLoad * 120 + Math.random() * 40, 780, 980).toFixed(2));\n        const pm25 = Number(clamp(14 + zoneLoad * 4 + Math.random() * 2, 12, 24).toFixed(2));\n\n        const extra = {\n            group: \"IAQ Sensor Points\",\n            floor: floor,\n            equipment_index: iaqIndex\n        };\n\n        pushMsg(messages, `building/iaq/${iaqIndex}/temperature`, `iaq_${iaqIndex}`, \"temperature\", temperature, extra);\n        pushMsg(messages, `building/iaq/${iaqIndex}/humidity`, `iaq_${iaqIndex}`, \"humidity\", humidity, extra);\n        pushMsg(messages, `building/iaq/${iaqIndex}/co2`, `iaq_${iaqIndex}`, \"co2\", co2, extra);\n        pushMsg(messages, `building/iaq/${iaqIndex}/pm25`, `iaq_${iaqIndex}`, \"pm25\", pm25, extra);\n    }\n}\n\n// ------------------------------\n// 8) Digital Power Meter Points (21 units x 5 = 105)\n// ------------------------------\n\n// Totals\nconst totalChillerPower = Number(chillerPowers.reduce((a, b) => a + b, 0).toFixed(2));\nconst totalCHWPPower = Number(chwpPowers.reduce((a, b) => a + b, 0).toFixed(2));\nconst totalCDPPower = Number(cdpPowers.reduce((a, b) => a + b, 0).toFixed(2));\nconst totalCTPower = Number(ctPowers.reduce((a, b) => a + b, 0).toFixed(2));\nconst totalAHUPower = Number(ahuPowers.reduce((a, b) => a + b, 0).toFixed(2));\n\n// Misc building power (lighting, plugs, elevators etc.)\nconst miscBuildingPower = Number(clamp(65 + loadFraction * 35 + Math.random() * 8, 65, 110).toFixed(2));\nconst totalBuildingPower = Number((totalChillerPower + totalCHWPPower + totalCDPPower + totalCTPower + totalAHUPower + miscBuildingPower).toFixed(2));\n\nconst voltage = Number(clamp(400 + Math.random() * 8, 398, 410).toFixed(2));\nconst current = Number((totalBuildingPower * 1000 / (Math.sqrt(3) * voltage * 0.92)).toFixed(2));\nconst pf = Number(clamp(0.90 + Math.random() * 0.03, 0.90, 0.95).toFixed(3));\n\n\n\n// Main Building Meter (1)\npushMsg(messages, \"building/meter/main/voltage_LL_average\", \"main_meter_1\", \"voltage_LL_average\", voltage, {\n    group: \"Digital Power Meter Points\",\n    floor: null\n});\npushMsg(messages, \"building/meter/main/current\", \"main_meter_1\", \"current\", current, {\n    group: \"Digital Power Meter Points\",\n    floor: null\n});\npushMsg(messages, \"building/meter/main/power\", \"main_meter_1\", \"power\", totalBuildingPower, {\n    group: \"Digital Power Meter Points\",\n    floor: null\n});\n\npushMsg(messages, \"building/meter/main/power_factor\", \"main_meter_1\", \"power_factor\", pf, {\n    group: \"Digital Power Meter Points\",\n    floor: null\n});\n\n// Floor Sub-Meters (4)\nfor (let floor = 1; floor <= 4; floor++) {\n    const floorLoadShare = Number((miscBuildingPower / 4 + Math.random() * 3).toFixed(2));\n    const fPower = Number((floorPowers[floor - 1] + floorLoadShare).toFixed(2));\n    const fVoltage = Number(clamp(399 + Math.random() * 7, 398, 410).toFixed(2));\n    const fCurrent = Number((fPower * 1000 / (Math.sqrt(3) * fVoltage * 0.92)).toFixed(2));\n    floorMeterPowers[floor - 1] = fPower;\n\n\n\n    pushMsg(messages, `building/meter/floor/${floor}/voltage_LL_average`, `floor_meter_${floor}`, \"voltage_LL_average\", fVoltage, {\n        group: \"Digital Power Meter Points\",\n        floor: floor\n    });\n    pushMsg(messages, `building/meter/floor/${floor}/current`, `floor_meter_${floor}`, \"current\", fCurrent, {\n        group: \"Digital Power Meter Points\",\n        floor: floor\n    });\n    pushMsg(messages, `building/meter/floor/${floor}/power`, `floor_meter_${floor}`, \"power\", fPower, {\n        group: \"Digital Power Meter Points\",\n        floor: floor\n    });\n\n    pushMsg(messages, `building/meter/floor/${floor}/power_factor`, `floor_meter_${floor}`, \"power_factor\", pf, {\n        group: \"Digital Power Meter Points\",\n        floor: floor\n    });\n}\n\n// Chiller Sub-Meters (3)\nfor (let i = 1; i <= 3; i++) {\n    const p = chillerPowers[i - 1];\n    \n\n    pushMsg(messages, `building/meter/chiller/${i}/voltage_LL_average`, `chiller_meter_${i}`, \"voltage_LL_average\", voltage, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/chiller/${i}/current`, `chiller_meter_${i}`, \"current\", Number((p * 1000 / (Math.sqrt(3) * voltage * 0.92)).toFixed(2)), {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/chiller/${i}/power`, `chiller_meter_${i}`, \"power\", p, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n\n    pushMsg(messages, `building/meter/chiller/${i}/power_factor`, `chiller_meter_${i}`, \"power_factor\", pf, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n}\n\n// CHP Sub-Meters (3)\nfor (let i = 1; i <= 3; i++) {\n    const p = chwpPowers[i - 1];\n   \n\n    pushMsg(messages, `building/meter/chwp/${i}/voltage_LL_average`, `chwp_meter_${i}`, \"voltage_LL_average\", voltage, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/chwp/${i}/current`, `chwp_meter_${i}`, \"current\", Number((p * 1000 / (Math.sqrt(3) * voltage * 0.92)).toFixed(2)), {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/chwp/${i}/power`, `chwp_meter_${i}`, \"power\", p, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n\n    pushMsg(messages, `building/meter/chwp/${i}/power_factor`, `chwp_meter_${i}`, \"power_factor\", pf, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n}\n\n// CDP Sub-Meters (3)\nfor (let i = 1; i <= 3; i++) {\n    const p = cdpPowers[i - 1];\n   \n\n    pushMsg(messages, `building/meter/cdp/${i}/voltage_LL_average`, `cdp_meter_${i}`, \"voltage_LL_average\", voltage, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/cdp/${i}/current`, `cdp_meter_${i}`, \"current\", Number((p * 1000 / (Math.sqrt(3) * voltage * 0.92)).toFixed(2)), {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/cdp/${i}/power`, `cdp_meter_${i}`, \"power\", p, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n\n    pushMsg(messages, `building/meter/cdp/${i}/power_factor`, `cdp_meter_${i}`, \"power_factor\", pf, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n}\n\n// CT Sub-Meters (3)\nfor (let i = 1; i <= 3; i++) {\n    const p = ctPowers[i - 1];\n   \n\n    pushMsg(messages, `building/meter/ct/${i}/voltage_LL_average`, `ct_meter_${i}`, \"voltage_LL_average\", voltage, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/ct/${i}/current`, `ct_meter_${i}`, \"current\", Number((p * 1000 / (Math.sqrt(3) * voltage * 0.92)).toFixed(2)), {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/ct/${i}/power`, `ct_meter_${i}`, \"power\", p, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n\n    pushMsg(messages, `building/meter/ct/${i}/power_factor`, `ct_meter_${i}`, \"power_factor\", pf, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n}\n\n// AHU Sub-Meters (4)\nfor (let i = 1; i <= 4; i++) {\n    const p = ahuPowers[i - 1];\n    \n\n    pushMsg(messages, `building/meter/ahu/${i}/voltage_LL_average`, `ahu_meter_${i}`, \"voltage_LL_average\", voltage, {\n        group: \"Digital Power Meter Points\",\n        floor: i\n    });\n    pushMsg(messages, `building/meter/ahu/${i}/current`, `ahu_meter_${i}`, \"current\", Number((p * 1000 / (Math.sqrt(3) * voltage * 0.92)).toFixed(2)), {\n        group: \"Digital Power Meter Points\",\n        floor: i\n    });\n    pushMsg(messages, `building/meter/ahu/${i}/power`, `ahu_meter_${i}`, \"power\", p, {\n        group: \"Digital Power Meter Points\",\n        floor: i\n    });\n\n    pushMsg(messages, `building/meter/ahu/${i}/power_factor`, `ahu_meter_${i}`, \"power_factor\", pf, {\n        group: \"Digital Power Meter Points\",\n        floor: i\n    });\n}\n\n// =====================================================\n// FULL SUMMARY (per-device, grouped exactly by spec table)\n// =====================================================\n\nconst chillerDevices = [\n    { key: \"chiller_1\", idx: 1 },\n    { key: \"chiller_2\", idx: 2 },\n    { key: \"chiller_3\", idx: 3 }\n];\nconst pumpCtDevices = [\n    { key: \"chwp_1\", prefix: \"chwp\", idx: 1 },\n    { key: \"chwp_2\", prefix: \"chwp\", idx: 2 },\n    { key: \"chwp_3\", prefix: \"chwp\", idx: 3 },\n    { key: \"cdp_1\", prefix: \"cdp\", idx: 1 },\n    { key: \"cdp_2\", prefix: \"cdp\", idx: 2 },\n    { key: \"cdp_3\", prefix: \"cdp\", idx: 3 },\n    { key: \"ct_1\", prefix: \"ct\", idx: 1 },\n    { key: \"ct_2\", prefix: \"ct\", idx: 2 },\n    { key: \"ct_3\", prefix: \"ct\", idx: 3 }\n];\nconst mvDevices = [\n    { key: \"mv_1\", idx: 1 },\n    { key: \"mv_2\", idx: 2 },\n    { key: \"mv_3\", idx: 3 },\n    { key: \"mv_4\", idx: 4 }\n];\nconst ahuDevices = [\n    { key: \"ahu_1\", idx: 1 },\n    { key: \"ahu_2\", idx: 2 },\n    { key: \"ahu_3\", idx: 3 },\n    { key: \"ahu_4\", idx: 4 }\n];\nconst vavDevices = Array.from({ length: 16 }, (_, i) => ({ key: `vav_${i + 1}`, idx: i + 1 }));\nconst iaqDevices = Array.from({ length: 8 }, (_, i) => ({ key: `iaq_${i + 1}`, idx: i + 1 }));\nconst weatherDevices = [{ key: \"weather_1\", idx: 1 }];\nconst meterDevices = [\n    { key: \"main_meter_1\", type: \"main\", idx: 1 },\n    { key: \"floor_meter_1\", type: \"floor\", idx: 1 },\n    { key: \"floor_meter_2\", type: \"floor\", idx: 2 },\n    { key: \"floor_meter_3\", type: \"floor\", idx: 3 },\n    { key: \"floor_meter_4\", type: \"floor\", idx: 4 },\n    { key: \"chiller_meter_1\", type: \"chiller\", idx: 1 },\n    { key: \"chiller_meter_2\", type: \"chiller\", idx: 2 },\n    { key: \"chiller_meter_3\", type: \"chiller\", idx: 3 },\n    { key: \"chwp_meter_1\", type: \"chwp\", idx: 1 },\n    { key: \"chwp_meter_2\", type: \"chwp\", idx: 2 },\n    { key: \"chwp_meter_3\", type: \"chwp\", idx: 3 },\n    { key: \"cdp_meter_1\", type: \"cdp\", idx: 1 },\n    { key: \"cdp_meter_2\", type: \"cdp\", idx: 2 },\n    { key: \"cdp_meter_3\", type: \"cdp\", idx: 3 },\n    { key: \"ct_meter_1\", type: \"ct\", idx: 1 },\n    { key: \"ct_meter_2\", type: \"ct\", idx: 2 },\n    { key: \"ct_meter_3\", type: \"ct\", idx: 3 },\n    { key: \"ahu_meter_1\", type: \"ahu\", idx: 1 },\n    { key: \"ahu_meter_2\", type: \"ahu\", idx: 2 },\n    { key: \"ahu_meter_3\", type: \"ahu\", idx: 3 },\n    { key: \"ahu_meter_4\", type: \"ahu\", idx: 4 }\n];\n\nconst energy_inputs = {\n    main_meter_1: totalBuildingPower,\n\n    floor_meter_1: floorMeterPowers[0],\n    floor_meter_2: floorMeterPowers[1],\n    floor_meter_3: floorMeterPowers[2],\n    floor_meter_4: floorMeterPowers[3],\n\n    chiller_meter_1: chillerPowers[0],\n    chiller_meter_2: chillerPowers[1],\n    chiller_meter_3: chillerPowers[2],\n\n    chwp_meter_1: chwpPowers[0],\n    chwp_meter_2: chwpPowers[1],\n    chwp_meter_3: chwpPowers[2],\n\n    cdp_meter_1: cdpPowers[0],\n    cdp_meter_2: cdpPowers[1],\n    cdp_meter_3: cdpPowers[2],\n\n    ct_meter_1: ctPowers[0],\n    ct_meter_2: ctPowers[1],\n    ct_meter_3: ctPowers[2],\n\n    ahu_meter_1: ahuPowers[0],\n    ahu_meter_2: ahuPowers[1],\n    ahu_meter_3: ahuPowers[2],\n    ahu_meter_4: ahuPowers[3]\n};\n\nconst summary = {\n    Scenario: scenario,\n    Scenario_label: scenarioLabel,\n    Timestamp: new Date().toISOString(),\n\n    \"Chiller Monitoring Points\": buildGroupSummary(\n        messages,\n        chillerDevices,\n        [\n            \"evap_leaving_water_temperature\",\n            \"evap_entering_water_temperature\",\n            \"evap_water_flow_rate\",\n            \"evap_sat_refrig_temperature\",\n            \"evap_water_delta_temperature\",\n            \"evap_approach_temperature\",\n            \"status_read\",\n            \"status_write\",\n            \"power\",\n            \"alarm\",\n            \"percentage_rla\",\n            \"efficiency\",\n            \"cooling_rate\"\n        ],\n        (d, p) => `building/chiller/${d.idx}/${p}`\n    ),\n\n    \"Pump & Cooling Tower Points\": buildGroupSummary(\n        messages,\n        pumpCtDevices,\n        [\n            \"status_read\",\n            \"status_write\",\n            \"alarm\",\n            \"frequency_read\",\n            \"frequency_write\",\n            \"power\",\n            \"efficiency\"\n        ],\n        (d, p) => `building/${d.prefix}/${d.idx}/${p}`\n    ),\n\n    \"Motorized Valve Points\": buildGroupSummary(\n        messages,\n        mvDevices,\n        [\"status_read\", \"status_write\", \"alarm\"],\n        (d, p) => `building/mv/${d.idx}/${p}`\n    ),\n\n    \"AHU Monitoring Points\": buildGroupSummary(\n        messages,\n        ahuDevices,\n        [\n            \"room_temperature\",\n            \"setpoint\",\n            \"status_read\",\n            \"status_write\",\n            \"humidity\",\n            \"alarm\",\n            \"power\"\n        ],\n        (d, p) => `building/ahu/${d.idx}/${p}`\n    ),\n\n    \"VAV Control Points\": buildGroupSummary(\n        messages,\n        vavDevices,\n        [\"damper_position\", \"air_flow_rate\", \"damper_control\"],\n        (d, p) => `building/vav/${d.idx}/${p}`\n    ),\n\n    \"IAQ Sensor Points\": buildGroupSummary(\n        messages,\n        iaqDevices,\n        [\"temperature\", \"humidity\", \"co2\", \"pm25\"],\n        (d, p) => `building/iaq/${d.idx}/${p}`\n    ),\n\n    \"Outdoor Weather Station Points\": buildGroupSummary(\n        messages,\n        weatherDevices,\n        [\"drybulb_temperature\", \"humidity\", \"wetbulb_temperature\"],\n        (d, p) => `building/weather/${d.idx}/${p}`\n    ),\n\n    \"Digital Power Meter Points\": buildGroupSummary(\n        messages,\n        meterDevices,\n        [\"voltage_LL_average\", \"current\", \"power\", \"energy\", \"power_factor\"],\n        (d, p) => {\n            if (d.type === \"main\") return `building/meter/main/${p}`;\n            return `building/meter/${d.type}/${d.idx}/${p}`;\n        }\n    ),\n\n    extra: {\n        total_chiller_power_kw: totalChillerPower,\n        total_chwp_power_kw: totalCHWPPower,\n        total_cdp_power_kw: totalCDPPower,\n        total_ct_power_kw: totalCTPower,\n        total_ahu_power_kw: totalAHUPower,\n        total_building_power_kw: totalBuildingPower,\n        avg_iaq_co2_ppm: Number(avg(iaqDevices.map(d => getValue(messages, `building/iaq/${d.idx}/co2`))).toFixed(2)),\n        avg_ahu_room_temp_c: Number(avg(ahuDevices.map(d => getValue(messages, `building/ahu/${d.idx}/room_temperature`))).toFixed(2)),\n        payload_count: messages.length\n    }\n};\n\n// =====================================================\n// Compliance Check\n// =====================================================\nconst compliance_check = {\n    scenario: scenario,\n    expected_message_count: 330,\n    actual_message_count: messages.length,\n    pass_total_count: messages.length === 330,\n\n    expected_groups: {\n        \"Chiller Monitoring Points\": 39,\n        \"Pump & Cooling Tower Points\": 63,\n        \"Motorized Valve Points\": 12,\n        \"AHU Monitoring Points\": 28,\n        \"VAV Control Points\": 48,\n        \"IAQ Sensor Points\": 32,\n        \"Outdoor Weather Station Points\": 3,\n        \"Digital Power Meter Points\": 105\n    },\n\n    actual_groups: {\n        \"Chiller Monitoring Points\": messages.filter(m => m.topic.includes(\"/chiller/\") && !m.topic.includes(\"/meter/\")).length,\n        \"Pump & Cooling Tower Points\":\n            messages.filter(m => m.topic.includes(\"/chwp/\") && !m.topic.includes(\"/meter/\")).length +\n            messages.filter(m => m.topic.includes(\"/cdp/\") && !m.topic.includes(\"/meter/\")).length +\n            messages.filter(m => m.topic.includes(\"/ct/\") && !m.topic.includes(\"/meter/\")).length,\n        \"Motorized Valve Points\": messages.filter(m => m.topic.includes(\"/mv/\")).length,\n        \"AHU Monitoring Points\": messages.filter(m => m.topic.includes(\"/ahu/\") && !m.topic.includes(\"/meter/\")).length,\n        \"VAV Control Points\": messages.filter(m => m.topic.includes(\"/vav/\")).length,\n        \"IAQ Sensor Points\": messages.filter(m => m.topic.includes(\"/iaq/\")).length,\n        \"Outdoor Weather Station Points\": messages.filter(m => m.topic.includes(\"/weather/\")).length,\n        \"Digital Power Meter Points\": messages.filter(m => m.topic.includes(\"/meter/\")).length\n    }\n};\n\ncompliance_check.pass_groups =\n    compliance_check.expected_groups[\"Chiller Monitoring Points\"] === compliance_check.actual_groups[\"Chiller Monitoring Points\"] &&\n    compliance_check.expected_groups[\"Pump & Cooling Tower Points\"] === compliance_check.actual_groups[\"Pump & Cooling Tower Points\"] &&\n    compliance_check.expected_groups[\"Motorized Valve Points\"] === compliance_check.actual_groups[\"Motorized Valve Points\"] &&\n    compliance_check.expected_groups[\"AHU Monitoring Points\"] === compliance_check.actual_groups[\"AHU Monitoring Points\"] &&\n    compliance_check.expected_groups[\"VAV Control Points\"] === compliance_check.actual_groups[\"VAV Control Points\"] &&\n    compliance_check.expected_groups[\"IAQ Sensor Points\"] === compliance_check.actual_groups[\"IAQ Sensor Points\"] &&\n    compliance_check.expected_groups[\"Outdoor Weather Station Points\"] === compliance_check.actual_groups[\"Outdoor Weather Station Points\"] &&\n    compliance_check.expected_groups[\"Digital Power Meter Points\"] === compliance_check.actual_groups[\"Digital Power Meter Points\"];\n\n// =====================================================\n// Return\n// output 1 -> split -> mqtt out\n// output 2 -> debug summary\n// output 3 -> debug compliance_check\n// =====================================================\nreturn [{\n    payload: messages,\n    summary: summary,\n    compliance: compliance_check,\n    energy_inputs: energy_inputs\n}];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 240,
        "wires": [
            [
                "4c6aab1a07da0cce"
            ]
        ]
    },
    {
        "id": "12cef9df2209709f",
        "type": "split",
        "z": "8c1ad482c6b9a043",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 890,
        "y": 260,
        "wires": [
            [
                "5445dcf6d0fcdcbb"
            ]
        ]
    },
    {
        "id": "5fcb5e8995f6cf8c",
        "type": "debug",
        "z": "8c1ad482c6b9a043",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 300,
        "wires": []
    },
    {
        "id": "e92eb3e0e087955e",
        "type": "debug",
        "z": "8c1ad482c6b9a043",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 360,
        "wires": []
    },
    {
        "id": "3a207324c8c24e3b",
        "type": "inject",
        "z": "8c1ad482c6b9a043",
        "name": "Medium Day",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/5 9-16 * * 6,0",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 280,
        "wires": [
            [
                "98416890076af193"
            ]
        ]
    },
    {
        "id": "98416890076af193",
        "type": "function",
        "z": "8c1ad482c6b9a043",
        "name": "Medium Day",
        "func": "// =====================================================\n// Medium Day - Full Function\n// Output 1 = { payload: messages, summary, compliance, energy_inputs }\n// =====================================================\n\n// ------------------------------\n// Config\n// ------------------------------\nlet nowMs = Date.now();\nlet lastMs = flow.get(\"lastInjectMs\") || nowMs;\nlet intervalSec = (nowMs - lastMs) / 1000;\nflow.set(\"lastInjectMs\", nowMs);\n\nif (intervalSec <= 0) intervalSec = 1;\n\n// ------------------------------\n// Helpers\n// ------------------------------\nfunction clamp(val, min, max) {\n    return Math.max(min, Math.min(max, val));\n}\n\nfunction pushMsg(arr, topic, device, point, value, extra = {}) {\n    arr.push({\n        topic: topic,\n        payload: JSON.stringify({\n            timestamp: new Date().toISOString(),\n            device: device,\n            point: point,\n            value: Number(value),\n            ...extra\n        })\n    });\n}\n\nfunction getValue(messages, topic) {\n    const item = messages.find(m => m.topic === topic);\n    return item ? JSON.parse(item.payload).value : null;\n}\n\nfunction avg(arr) {\n    if (!arr || arr.length === 0) return null;\n    return arr.reduce((a, b) => a + b, 0) / arr.length;\n}\n\nfunction buildGroupSummary(messages, devices, points, topicBuilder) {\n    const result = {};\n    devices.forEach(deviceObj => {\n        const devKey = deviceObj.key;\n        result[devKey] = {};\n        points.forEach(point => {\n            result[devKey][point] = getValue(messages, topicBuilder(deviceObj, point));\n        });\n    });\n    return result;\n}\n\n// ------------------------------\n// Scenario preset: Medium Day\n// ------------------------------\nconst scenario = \"medium_day\";\nconst scenarioLabel = \"Medium Day - normal occupancy, moderate weather\";\n\n// Building / weather assumptions for Medium Day\nconst outdoorDryBulb = Number((31.5 + Math.random() * 2.0).toFixed(2));   // 31.5 - 33.5 C\nconst outdoorRH = Number((58 + Math.random() * 8).toFixed(2));            // 58 - 66 %RH\nconst outdoorWetBulb = Number((outdoorDryBulb - (3.0 + Math.random() * 1.2)).toFixed(2));\n\n// Medium day => moderate load\nconst occupancyFactor = 0.64 + Math.random() * 0.08;\nconst weatherFactor = clamp(((outdoorDryBulb - 29) / 5) * 0.12, 0, 0.14);\nconst loadFraction = Number(clamp(\n    occupancyFactor + weatherFactor + (Math.random() * 0.02 - 0.01),\n    0.58,\n    0.72\n).toFixed(3));\n\n// Plant capacity\nconst TOTAL_CAPACITY_RT = 1500;\nconst totalCoolingRT = Number((TOTAL_CAPACITY_RT * loadFraction).toFixed(2));\n\n// Chiller staging for Medium Day => usually 2 chillers\nconst activeChillers = 2;\nconst perChillerRT = Number((totalCoolingRT / activeChillers).toFixed(2));\n\n// Specs\nconst CHILLER_RATED_RT = 500;\nconst CHILLER_RATED_KW = 273;\n\nconst CHWP_RATED_GPM = 1200;\nconst CHWP_RATED_KW = 37;\n\nconst CDP_RATED_GPM = 1500;\nconst CDP_RATED_KW = 55;\n\nconst CT_CELL_RATED_KW = 5.5; // 2 cells per tower\n\n// ------------------------------\n// Containers\n// ------------------------------\nlet messages = [];\n\nlet chillerPowers = [0, 0, 0];\nlet chwpPowers = [0, 0, 0];\nlet cdpPowers = [0, 0, 0];\nlet ctPowers = [0, 0, 0];\nlet ahuPowers = [0, 0, 0, 0];\nlet floorPowers = [0, 0, 0, 0];\nlet floorMeterPowers = [0, 0, 0, 0];\n\n// ------------------------------\n// 1) Outdoor Weather Station Points (3)\n// ------------------------------\npushMsg(messages, \"building/weather/1/drybulb_temperature\", \"weather_1\", \"drybulb_temperature\", outdoorDryBulb, {\n    group: \"Outdoor Weather Station Points\",\n    floor: null\n});\npushMsg(messages, \"building/weather/1/humidity\", \"weather_1\", \"humidity\", outdoorRH, {\n    group: \"Outdoor Weather Station Points\",\n    floor: null\n});\npushMsg(messages, \"building/weather/1/wetbulb_temperature\", \"weather_1\", \"wetbulb_temperature\", outdoorWetBulb, {\n    group: \"Outdoor Weather Station Points\",\n    floor: null\n});\n\n// ------------------------------\n// Common chilled water temps\n// ------------------------------\nconst chwSupplyC = Number((6.6 + Math.random() * 0.8).toFixed(2));   // 6.6 - 7.4 C\nconst chwReturnC = Number((11.0 + Math.random() * 1.0).toFixed(2));  // 11.0 - 12.0 C\nconst deltaTC = Number((chwReturnC - chwSupplyC).toFixed(2));\n\nconst chwSupplyF = Number((chwSupplyC * 9 / 5 + 32).toFixed(2));\nconst chwReturnF = Number((chwReturnC * 9 / 5 + 32).toFixed(2));\nconst deltaTF = Number((deltaTC * 9 / 5).toFixed(2));\n\n// ------------------------------\n// 2) Chiller Monitoring Points (3 x 13 = 39)\n// ------------------------------\nfor (let i = 1; i <= 3; i++) {\n    const isActive = i <= activeChillers ? 1 : 0;\n\n    let plr = 0;\n    let efficiency = 0;\n    let powerKW = 0;\n    let evapFlow = 0;\n    let satRefrigTempF = 0;\n    let approachTempF = 0;\n    let percentageRLA = 0;\n    let coolingRate = 0;\n    let alarm = 0;\n\n    if (isActive) {\n        plr = clamp(perChillerRT / CHILLER_RATED_RT, 0.30, 0.85);\n\n        efficiency = Number(clamp(\n            0.57 + (1 - plr) * 0.08 + Math.random() * 0.02,\n            0.56,\n            0.71\n        ).toFixed(3));\n\n        powerKW = Number(clamp(perChillerRT * efficiency, 110, CHILLER_RATED_KW).toFixed(2));\n        evapFlow = Number(clamp(\n            820 + plr * 220 + Math.random() * 18,\n            780,\n            CHWP_RATED_GPM\n        ).toFixed(2));\n        satRefrigTempF = Number(clamp(chwSupplyF - (5.5 + Math.random() * 1.8), 36, 42).toFixed(2));\n        approachTempF = Number(clamp(2.0 + Math.random() * 1.6, 2.0, 4.2).toFixed(2));\n        percentageRLA = Number((plr * 100).toFixed(2));\n        coolingRate = perChillerRT;\n    }\n\n    chillerPowers[i - 1] = powerKW;\n\n    const extra = {\n        group: \"Chiller Monitoring Points\",\n        floor: null,\n        equipment_index: i\n    };\n\n    pushMsg(messages, `building/chiller/${i}/evap_leaving_water_temperature`, `chiller_${i}`, \"evap_leaving_water_temperature\", isActive ? chwSupplyF : 0, extra);\n    pushMsg(messages, `building/chiller/${i}/evap_entering_water_temperature`, `chiller_${i}`, \"evap_entering_water_temperature\", isActive ? chwReturnF : 0, extra);\n    pushMsg(messages, `building/chiller/${i}/evap_water_flow_rate`, `chiller_${i}`, \"evap_water_flow_rate\", evapFlow, extra);\n    pushMsg(messages, `building/chiller/${i}/evap_sat_refrig_temperature`, `chiller_${i}`, \"evap_sat_refrig_temperature\", satRefrigTempF, extra);\n    pushMsg(messages, `building/chiller/${i}/evap_water_delta_temperature`, `chiller_${i}`, \"evap_water_delta_temperature\", isActive ? deltaTF : 0, extra);\n    pushMsg(messages, `building/chiller/${i}/evap_approach_temperature`, `chiller_${i}`, \"evap_approach_temperature\", approachTempF, extra);\n    pushMsg(messages, `building/chiller/${i}/status_read`, `chiller_${i}`, \"status_read\", isActive, extra);\n    pushMsg(messages, `building/chiller/${i}/status_write`, `chiller_${i}`, \"status_write\", isActive, extra);\n    pushMsg(messages, `building/chiller/${i}/power`, `chiller_${i}`, \"power\", powerKW, extra);\n    pushMsg(messages, `building/chiller/${i}/alarm`, `chiller_${i}`, \"alarm\", alarm, extra);\n    pushMsg(messages, `building/chiller/${i}/percentage_rla`, `chiller_${i}`, \"percentage_rla\", percentageRLA, extra);\n    pushMsg(messages, `building/chiller/${i}/efficiency`, `chiller_${i}`, \"efficiency\", efficiency, extra);\n    pushMsg(messages, `building/chiller/${i}/cooling_rate`, `chiller_${i}`, \"cooling_rate\", coolingRate, extra);\n}\n\n// ------------------------------\n// 3) Pump & Cooling Tower Points (9 x 7 = 63)\n// ------------------------------\nfor (let i = 1; i <= 3; i++) {\n    const isActive = i <= activeChillers ? 1 : 0;\n\n    // CHWP\n    let chwpFreq = 0;\n    let chwpPower = 0;\n    let chwpEff = 0;\n\n    if (isActive) {\n        chwpFreq = Number(clamp(45 + Math.random() * 6, 43, 55).toFixed(2));\n        chwpPower = Number((CHWP_RATED_KW * Math.pow(chwpFreq / 60, 3)).toFixed(2));\n        chwpEff = Number((0.74 + Math.random() * 0.03).toFixed(3));\n    }\n\n    chwpPowers[i - 1] = chwpPower;\n\n    let extra = { group: \"Pump & Cooling Tower Points\", floor: null, equipment_index: i };\n    pushMsg(messages, `building/chwp/${i}/status_read`, `chwp_${i}`, \"status_read\", isActive, extra);\n    pushMsg(messages, `building/chwp/${i}/status_write`, `chwp_${i}`, \"status_write\", isActive, extra);\n    pushMsg(messages, `building/chwp/${i}/alarm`, `chwp_${i}`, \"alarm\", 0, extra);\n    pushMsg(messages, `building/chwp/${i}/frequency_read`, `chwp_${i}`, \"frequency_read\", chwpFreq, extra);\n    pushMsg(messages, `building/chwp/${i}/frequency_write`, `chwp_${i}`, \"frequency_write\", chwpFreq, extra);\n    pushMsg(messages, `building/chwp/${i}/power`, `chwp_${i}`, \"power\", chwpPower, extra);\n    pushMsg(messages, `building/chwp/${i}/efficiency`, `chwp_${i}`, \"efficiency\", chwpEff, extra);\n\n    // CDP\n    let cdpFreq = 0;\n    let cdpPower = 0;\n    let cdpEff = 0;\n\n    if (isActive) {\n        cdpFreq = Number(clamp(44 + Math.random() * 6, 42, 54).toFixed(2));\n        cdpPower = Number((CDP_RATED_KW * Math.pow(cdpFreq / 60, 3)).toFixed(2));\n        cdpEff = Number((0.72 + Math.random() * 0.03).toFixed(3));\n    }\n\n    cdpPowers[i - 1] = cdpPower;\n\n    pushMsg(messages, `building/cdp/${i}/status_read`, `cdp_${i}`, \"status_read\", isActive, extra);\n    pushMsg(messages, `building/cdp/${i}/status_write`, `cdp_${i}`, \"status_write\", isActive, extra);\n    pushMsg(messages, `building/cdp/${i}/alarm`, `cdp_${i}`, \"alarm\", 0, extra);\n    pushMsg(messages, `building/cdp/${i}/frequency_read`, `cdp_${i}`, \"frequency_read\", cdpFreq, extra);\n    pushMsg(messages, `building/cdp/${i}/frequency_write`, `cdp_${i}`, \"frequency_write\", cdpFreq, extra);\n    pushMsg(messages, `building/cdp/${i}/power`, `cdp_${i}`, \"power\", cdpPower, extra);\n    pushMsg(messages, `building/cdp/${i}/efficiency`, `cdp_${i}`, \"efficiency\", cdpEff, extra);\n\n    // CT\n    let ctFreq = 0;\n    let ctPower = 0;\n    let ctEff = 0;\n\n    if (isActive) {\n        ctFreq = Number(clamp(39 + Math.random() * 6, 37, 50).toFixed(2));\n        ctPower = Number((CT_CELL_RATED_KW * Math.pow(ctFreq / 60, 3) * 2).toFixed(2));\n        ctEff = Number((0.69 + Math.random() * 0.04).toFixed(3));\n    }\n\n    ctPowers[i - 1] = ctPower;\n\n    pushMsg(messages, `building/ct/${i}/status_read`, `ct_${i}`, \"status_read\", isActive, extra);\n    pushMsg(messages, `building/ct/${i}/status_write`, `ct_${i}`, \"status_write\", isActive, extra);\n    pushMsg(messages, `building/ct/${i}/alarm`, `ct_${i}`, \"alarm\", 0, extra);\n    pushMsg(messages, `building/ct/${i}/frequency_read`, `ct_${i}`, \"frequency_read\", ctFreq, extra);\n    pushMsg(messages, `building/ct/${i}/frequency_write`, `ct_${i}`, \"frequency_write\", ctFreq, extra);\n    pushMsg(messages, `building/ct/${i}/power`, `ct_${i}`, \"power\", ctPower, extra);\n    pushMsg(messages, `building/ct/${i}/efficiency`, `ct_${i}`, \"efficiency\", ctEff, extra);\n}\n\n// ------------------------------\n// 4) Motorized Valve Points (4 x 3 = 12)\n// ------------------------------\nconst zoneBias = [1.00, 1.03, 0.97, 1.01];\n\nfor (let floor = 1; floor <= 4; floor++) {\n    const zoneLoad = clamp(loadFraction * zoneBias[floor - 1], 0.2, 1.0);\n\n    const valveFeedback = Number(clamp(48 + zoneLoad * 24 + Math.random() * 4, 45, 85).toFixed(2));\n    const valveCommand = Number(clamp(valveFeedback + (Math.random() * 4 - 2), 45, 85).toFixed(2));\n    const valveAlarm = 0;\n\n    const extra = {\n        group: \"Motorized Valve Points\",\n        floor: floor,\n        equipment_index: floor\n    };\n\n    pushMsg(messages, `building/mv/${floor}/status_read`, `mv_${floor}`, \"status_read\", valveFeedback, extra);\n    pushMsg(messages, `building/mv/${floor}/status_write`, `mv_${floor}`, \"status_write\", valveCommand, extra);\n    pushMsg(messages, `building/mv/${floor}/alarm`, `mv_${floor}`, \"alarm\", valveAlarm, extra);\n}\n\n// ------------------------------\n// 5) AHU Monitoring Points (4 x 7 = 28)\n// ------------------------------\nfor (let floor = 1; floor <= 4; floor++) {\n    const zoneLoad = clamp(loadFraction * zoneBias[floor - 1], 0.2, 1.0);\n\n    const roomTemp = Number(clamp(23.0 + zoneLoad * 1.0 + (Math.random() * 0.4 - 0.2), 23.0, 24.8).toFixed(2));\n    const setpoint = 23.0;\n    const humidity = Number(clamp(53 + zoneLoad * 6 + Math.random() * 3, 53, 62).toFixed(2));\n    const ahuAlarm = 0;\n    const ahuPower = Number(clamp(9 + zoneLoad * 5 + Math.random() * 1.2, 9, 16).toFixed(2));\n\n    ahuPowers[floor - 1] = ahuPower;\n    floorPowers[floor - 1] += ahuPower;\n\n    const extra = {\n        group: \"AHU Monitoring Points\",\n        floor: floor,\n        equipment_index: floor\n    };\n\n    pushMsg(messages, `building/ahu/${floor}/room_temperature`, `ahu_${floor}`, \"room_temperature\", roomTemp, extra);\n    pushMsg(messages, `building/ahu/${floor}/setpoint`, `ahu_${floor}`, \"setpoint\", setpoint, extra);\n    pushMsg(messages, `building/ahu/${floor}/status_read`, `ahu_${floor}`, \"status_read\", 1, extra);\n    pushMsg(messages, `building/ahu/${floor}/status_write`, `ahu_${floor}`, \"status_write\", 1, extra);\n    pushMsg(messages, `building/ahu/${floor}/humidity`, `ahu_${floor}`, \"humidity\", humidity, extra);\n    pushMsg(messages, `building/ahu/${floor}/alarm`, `ahu_${floor}`, \"alarm\", ahuAlarm, extra);\n    pushMsg(messages, `building/ahu/${floor}/power`, `ahu_${floor}`, \"power\", ahuPower, extra);\n}\n\n// ------------------------------\n// 6) VAV Control Points (16 x 3 = 48)\n// ------------------------------\nfor (let floor = 1; floor <= 4; floor++) {\n    const zoneLoad = clamp(loadFraction * zoneBias[floor - 1], 0.2, 1.0);\n\n    for (let v = 1; v <= 4; v++) {\n        const vavIndex = (floor - 1) * 4 + v;\n\n        const damperPos = Number(clamp(52 + zoneLoad * 20 + Math.random() * 5, 50, 86).toFixed(2));\n        const airflow = Number(clamp(620 + zoneLoad * 180 + Math.random() * 35, 600, 950).toFixed(2));\n        const damperCmd = Number(clamp(damperPos + (Math.random() * 4 - 2), 50, 86).toFixed(2));\n\n        const extra = {\n            group: \"VAV Control Points\",\n            floor: floor,\n            equipment_index: vavIndex\n        };\n\n        pushMsg(messages, `building/vav/${vavIndex}/damper_position`, `vav_${vavIndex}`, \"damper_position\", damperPos, extra);\n        pushMsg(messages, `building/vav/${vavIndex}/air_flow_rate`, `vav_${vavIndex}`, \"air_flow_rate\", airflow, extra);\n        pushMsg(messages, `building/vav/${vavIndex}/damper_control`, `vav_${vavIndex}`, \"damper_control\", damperCmd, extra);\n    }\n}\n\n// ------------------------------\n// 7) IAQ Sensor Points (8 x 4 = 32)\n// ------------------------------\nfor (let floor = 1; floor <= 4; floor++) {\n    const zoneLoad = clamp(loadFraction * zoneBias[floor - 1], 0.2, 1.0);\n\n    for (let s = 1; s <= 2; s++) {\n        const iaqIndex = (floor - 1) * 2 + s;\n\n        const temperature = Number(clamp(23.5 + zoneLoad * 0.8 + (Math.random() * 0.3 - 0.15), 23.4, 24.9).toFixed(2));\n        const humidity = Number(clamp(52 + zoneLoad * 5 + Math.random() * 2, 52, 60).toFixed(2));\n        const co2 = Number(clamp(560 + zoneLoad * 140 + Math.random() * 35, 560, 780).toFixed(2));\n        const pm25 = Number(clamp(10 + zoneLoad * 4 + Math.random() * 2, 10, 18).toFixed(2));\n\n        const extra = {\n            group: \"IAQ Sensor Points\",\n            floor: floor,\n            equipment_index: iaqIndex\n        };\n\n        pushMsg(messages, `building/iaq/${iaqIndex}/temperature`, `iaq_${iaqIndex}`, \"temperature\", temperature, extra);\n        pushMsg(messages, `building/iaq/${iaqIndex}/humidity`, `iaq_${iaqIndex}`, \"humidity\", humidity, extra);\n        pushMsg(messages, `building/iaq/${iaqIndex}/co2`, `iaq_${iaqIndex}`, \"co2\", co2, extra);\n        pushMsg(messages, `building/iaq/${iaqIndex}/pm25`, `iaq_${iaqIndex}`, \"pm25\", pm25, extra);\n    }\n}\n\n// ------------------------------\n// 8) Digital Power Meter Points\n// ------------------------------\nconst totalChillerPower = Number(chillerPowers.reduce((a, b) => a + b, 0).toFixed(2));\nconst totalCHWPPower = Number(chwpPowers.reduce((a, b) => a + b, 0).toFixed(2));\nconst totalCDPPower = Number(cdpPowers.reduce((a, b) => a + b, 0).toFixed(2));\nconst totalCTPower = Number(ctPowers.reduce((a, b) => a + b, 0).toFixed(2));\nconst totalAHUPower = Number(ahuPowers.reduce((a, b) => a + b, 0).toFixed(2));\n\nconst miscBuildingPower = Number(clamp(48 + loadFraction * 28 + Math.random() * 7, 48, 82).toFixed(2));\nconst totalBuildingPower = Number((totalChillerPower + totalCHWPPower + totalCDPPower + totalCTPower + totalAHUPower + miscBuildingPower).toFixed(2));\n\nconst voltage = Number(clamp(399 + Math.random() * 7, 398, 408).toFixed(2));\nconst current = Number((totalBuildingPower * 1000 / (Math.sqrt(3) * voltage * 0.92)).toFixed(2));\nconst pf = Number(clamp(0.91 + Math.random() * 0.02, 0.91, 0.95).toFixed(3));\n\n// Main Building Meter\npushMsg(messages, \"building/meter/main/voltage_LL_average\", \"main_meter_1\", \"voltage_LL_average\", voltage, {\n    group: \"Digital Power Meter Points\",\n    floor: null\n});\npushMsg(messages, \"building/meter/main/current\", \"main_meter_1\", \"current\", current, {\n    group: \"Digital Power Meter Points\",\n    floor: null\n});\npushMsg(messages, \"building/meter/main/power\", \"main_meter_1\", \"power\", totalBuildingPower, {\n    group: \"Digital Power Meter Points\",\n    floor: null\n});\npushMsg(messages, \"building/meter/main/power_factor\", \"main_meter_1\", \"power_factor\", pf, {\n    group: \"Digital Power Meter Points\",\n    floor: null\n});\n\n// Floor Sub-Meters\nfor (let floor = 1; floor <= 4; floor++) {\n    const floorLoadShare = Number((miscBuildingPower / 4 + Math.random() * 2.5).toFixed(2));\n    const fPower = Number((floorPowers[floor - 1] + floorLoadShare).toFixed(2));\n    const fVoltage = Number(clamp(399 + Math.random() * 6, 398, 408).toFixed(2));\n    const fCurrent = Number((fPower * 1000 / (Math.sqrt(3) * fVoltage * 0.92)).toFixed(2));\n\n    floorMeterPowers[floor - 1] = fPower;\n\n    pushMsg(messages, `building/meter/floor/${floor}/voltage_LL_average`, `floor_meter_${floor}`, \"voltage_LL_average\", fVoltage, {\n        group: \"Digital Power Meter Points\",\n        floor: floor\n    });\n    pushMsg(messages, `building/meter/floor/${floor}/current`, `floor_meter_${floor}`, \"current\", fCurrent, {\n        group: \"Digital Power Meter Points\",\n        floor: floor\n    });\n    pushMsg(messages, `building/meter/floor/${floor}/power`, `floor_meter_${floor}`, \"power\", fPower, {\n        group: \"Digital Power Meter Points\",\n        floor: floor\n    });\n    pushMsg(messages, `building/meter/floor/${floor}/power_factor`, `floor_meter_${floor}`, \"power_factor\", pf, {\n        group: \"Digital Power Meter Points\",\n        floor: floor\n    });\n}\n\n// Chiller Sub-Meters\nfor (let i = 1; i <= 3; i++) {\n    const p = chillerPowers[i - 1];\n\n    pushMsg(messages, `building/meter/chiller/${i}/voltage_LL_average`, `chiller_meter_${i}`, \"voltage_LL_average\", voltage, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/chiller/${i}/current`, `chiller_meter_${i}`, \"current\", Number((p * 1000 / (Math.sqrt(3) * voltage * 0.92)).toFixed(2)), {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/chiller/${i}/power`, `chiller_meter_${i}`, \"power\", p, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/chiller/${i}/power_factor`, `chiller_meter_${i}`, \"power_factor\", pf, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n}\n\n// CHWP Sub-Meters\nfor (let i = 1; i <= 3; i++) {\n    const p = chwpPowers[i - 1];\n\n    pushMsg(messages, `building/meter/chwp/${i}/voltage_LL_average`, `chwp_meter_${i}`, \"voltage_LL_average\", voltage, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/chwp/${i}/current`, `chwp_meter_${i}`, \"current\", Number((p * 1000 / (Math.sqrt(3) * voltage * 0.92)).toFixed(2)), {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/chwp/${i}/power`, `chwp_meter_${i}`, \"power\", p, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/chwp/${i}/power_factor`, `chwp_meter_${i}`, \"power_factor\", pf, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n}\n\n// CDP Sub-Meters\nfor (let i = 1; i <= 3; i++) {\n    const p = cdpPowers[i - 1];\n\n    pushMsg(messages, `building/meter/cdp/${i}/voltage_LL_average`, `cdp_meter_${i}`, \"voltage_LL_average\", voltage, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/cdp/${i}/current`, `cdp_meter_${i}`, \"current\", Number((p * 1000 / (Math.sqrt(3) * voltage * 0.92)).toFixed(2)), {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/cdp/${i}/power`, `cdp_meter_${i}`, \"power\", p, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/cdp/${i}/power_factor`, `cdp_meter_${i}`, \"power_factor\", pf, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n}\n\n// CT Sub-Meters\nfor (let i = 1; i <= 3; i++) {\n    const p = ctPowers[i - 1];\n\n    pushMsg(messages, `building/meter/ct/${i}/voltage_LL_average`, `ct_meter_${i}`, \"voltage_LL_average\", voltage, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/ct/${i}/current`, `ct_meter_${i}`, \"current\", Number((p * 1000 / (Math.sqrt(3) * voltage * 0.92)).toFixed(2)), {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/ct/${i}/power`, `ct_meter_${i}`, \"power\", p, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/ct/${i}/power_factor`, `ct_meter_${i}`, \"power_factor\", pf, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n}\n\n// AHU Sub-Meters\nfor (let i = 1; i <= 4; i++) {\n    const p = ahuPowers[i - 1];\n\n    pushMsg(messages, `building/meter/ahu/${i}/voltage_LL_average`, `ahu_meter_${i}`, \"voltage_LL_average\", voltage, {\n        group: \"Digital Power Meter Points\",\n        floor: i\n    });\n    pushMsg(messages, `building/meter/ahu/${i}/current`, `ahu_meter_${i}`, \"current\", Number((p * 1000 / (Math.sqrt(3) * voltage * 0.92)).toFixed(2)), {\n        group: \"Digital Power Meter Points\",\n        floor: i\n    });\n    pushMsg(messages, `building/meter/ahu/${i}/power`, `ahu_meter_${i}`, \"power\", p, {\n        group: \"Digital Power Meter Points\",\n        floor: i\n    });\n    pushMsg(messages, `building/meter/ahu/${i}/power_factor`, `ahu_meter_${i}`, \"power_factor\", pf, {\n        group: \"Digital Power Meter Points\",\n        floor: i\n    });\n}\n\n// ------------------------------\n// Energy inputs for Energy Accumulator\n// ------------------------------\nconst energy_inputs = {\n    main_meter_1: totalBuildingPower,\n\n    floor_meter_1: floorMeterPowers[0],\n    floor_meter_2: floorMeterPowers[1],\n    floor_meter_3: floorMeterPowers[2],\n    floor_meter_4: floorMeterPowers[3],\n\n    chiller_meter_1: chillerPowers[0],\n    chiller_meter_2: chillerPowers[1],\n    chiller_meter_3: chillerPowers[2],\n\n    chwp_meter_1: chwpPowers[0],\n    chwp_meter_2: chwpPowers[1],\n    chwp_meter_3: chwpPowers[2],\n\n    cdp_meter_1: cdpPowers[0],\n    cdp_meter_2: cdpPowers[1],\n    cdp_meter_3: cdpPowers[2],\n\n    ct_meter_1: ctPowers[0],\n    ct_meter_2: ctPowers[1],\n    ct_meter_3: ctPowers[2],\n\n    ahu_meter_1: ahuPowers[0],\n    ahu_meter_2: ahuPowers[1],\n    ahu_meter_3: ahuPowers[2],\n    ahu_meter_4: ahuPowers[3]\n};\n\n// =====================================================\n// FULL SUMMARY\n// =====================================================\nconst chillerDevices = [\n    { key: \"chiller_1\", idx: 1 },\n    { key: \"chiller_2\", idx: 2 },\n    { key: \"chiller_3\", idx: 3 }\n];\nconst pumpCtDevices = [\n    { key: \"chwp_1\", prefix: \"chwp\", idx: 1 },\n    { key: \"chwp_2\", prefix: \"chwp\", idx: 2 },\n    { key: \"chwp_3\", prefix: \"chwp\", idx: 3 },\n    { key: \"cdp_1\", prefix: \"cdp\", idx: 1 },\n    { key: \"cdp_2\", prefix: \"cdp\", idx: 2 },\n    { key: \"cdp_3\", prefix: \"cdp\", idx: 3 },\n    { key: \"ct_1\", prefix: \"ct\", idx: 1 },\n    { key: \"ct_2\", prefix: \"ct\", idx: 2 },\n    { key: \"ct_3\", prefix: \"ct\", idx: 3 }\n];\nconst mvDevices = [\n    { key: \"mv_1\", idx: 1 },\n    { key: \"mv_2\", idx: 2 },\n    { key: \"mv_3\", idx: 3 },\n    { key: \"mv_4\", idx: 4 }\n];\nconst ahuDevices = [\n    { key: \"ahu_1\", idx: 1 },\n    { key: \"ahu_2\", idx: 2 },\n    { key: \"ahu_3\", idx: 3 },\n    { key: \"ahu_4\", idx: 4 }\n];\nconst vavDevices = Array.from({ length: 16 }, (_, i) => ({ key: `vav_${i + 1}`, idx: i + 1 }));\nconst iaqDevices = Array.from({ length: 8 }, (_, i) => ({ key: `iaq_${i + 1}`, idx: i + 1 }));\nconst weatherDevices = [{ key: \"weather_1\", idx: 1 }];\nconst meterDevices = [\n    { key: \"main_meter_1\", type: \"main\", idx: 1 },\n    { key: \"floor_meter_1\", type: \"floor\", idx: 1 },\n    { key: \"floor_meter_2\", type: \"floor\", idx: 2 },\n    { key: \"floor_meter_3\", type: \"floor\", idx: 3 },\n    { key: \"floor_meter_4\", type: \"floor\", idx: 4 },\n    { key: \"chiller_meter_1\", type: \"chiller\", idx: 1 },\n    { key: \"chiller_meter_2\", type: \"chiller\", idx: 2 },\n    { key: \"chiller_meter_3\", type: \"chiller\", idx: 3 },\n    { key: \"chwp_meter_1\", type: \"chwp\", idx: 1 },\n    { key: \"chwp_meter_2\", type: \"chwp\", idx: 2 },\n    { key: \"chwp_meter_3\", type: \"chwp\", idx: 3 },\n    { key: \"cdp_meter_1\", type: \"cdp\", idx: 1 },\n    { key: \"cdp_meter_2\", type: \"cdp\", idx: 2 },\n    { key: \"cdp_meter_3\", type: \"cdp\", idx: 3 },\n    { key: \"ct_meter_1\", type: \"ct\", idx: 1 },\n    { key: \"ct_meter_2\", type: \"ct\", idx: 2 },\n    { key: \"ct_meter_3\", type: \"ct\", idx: 3 },\n    { key: \"ahu_meter_1\", type: \"ahu\", idx: 1 },\n    { key: \"ahu_meter_2\", type: \"ahu\", idx: 2 },\n    { key: \"ahu_meter_3\", type: \"ahu\", idx: 3 },\n    { key: \"ahu_meter_4\", type: \"ahu\", idx: 4 }\n];\n\nconst summary = {\n    Scenario: scenario,\n    Scenario_label: scenarioLabel,\n    Timestamp: new Date().toISOString(),\n\n    \"Chiller Monitoring Points\": buildGroupSummary(\n        messages,\n        chillerDevices,\n        [\n            \"evap_leaving_water_temperature\",\n            \"evap_entering_water_temperature\",\n            \"evap_water_flow_rate\",\n            \"evap_sat_refrig_temperature\",\n            \"evap_water_delta_temperature\",\n            \"evap_approach_temperature\",\n            \"status_read\",\n            \"status_write\",\n            \"power\",\n            \"alarm\",\n            \"percentage_rla\",\n            \"efficiency\",\n            \"cooling_rate\"\n        ],\n        (d, p) => `building/chiller/${d.idx}/${p}`\n    ),\n\n    \"Pump & Cooling Tower Points\": buildGroupSummary(\n        messages,\n        pumpCtDevices,\n        [\n            \"status_read\",\n            \"status_write\",\n            \"alarm\",\n            \"frequency_read\",\n            \"frequency_write\",\n            \"power\",\n            \"efficiency\"\n        ],\n        (d, p) => `building/${d.prefix}/${d.idx}/${p}`\n    ),\n\n    \"Motorized Valve Points\": buildGroupSummary(\n        messages,\n        mvDevices,\n        [\"status_read\", \"status_write\", \"alarm\"],\n        (d, p) => `building/mv/${d.idx}/${p}`\n    ),\n\n    \"AHU Monitoring Points\": buildGroupSummary(\n        messages,\n        ahuDevices,\n        [\n            \"room_temperature\",\n            \"setpoint\",\n            \"status_read\",\n            \"status_write\",\n            \"humidity\",\n            \"alarm\",\n            \"power\"\n        ],\n        (d, p) => `building/ahu/${d.idx}/${p}`\n    ),\n\n    \"VAV Control Points\": buildGroupSummary(\n        messages,\n        vavDevices,\n        [\"damper_position\", \"air_flow_rate\", \"damper_control\"],\n        (d, p) => `building/vav/${d.idx}/${p}`\n    ),\n\n    \"IAQ Sensor Points\": buildGroupSummary(\n        messages,\n        iaqDevices,\n        [\"temperature\", \"humidity\", \"co2\", \"pm25\"],\n        (d, p) => `building/iaq/${d.idx}/${p}`\n    ),\n\n    \"Outdoor Weather Station Points\": buildGroupSummary(\n        messages,\n        weatherDevices,\n        [\"drybulb_temperature\", \"humidity\", \"wetbulb_temperature\"],\n        (d, p) => `building/weather/${d.idx}/${p}`\n    ),\n\n    \"Digital Power Meter Points\": buildGroupSummary(\n        messages,\n        meterDevices,\n        [\"voltage_LL_average\", \"current\", \"power\", \"energy\", \"power_factor\"],\n        (d, p) => {\n            if (d.type === \"main\") return `building/meter/main/${p}`;\n            return `building/meter/${d.type}/${d.idx}/${p}`;\n        }\n    ),\n\n    extra: {\n        total_chiller_power_kw: totalChillerPower,\n        total_chwp_power_kw: totalCHWPPower,\n        total_cdp_power_kw: totalCDPPower,\n        total_ct_power_kw: totalCTPower,\n        total_ahu_power_kw: totalAHUPower,\n        total_building_power_kw: totalBuildingPower,\n        avg_iaq_co2_ppm: Number(avg(iaqDevices.map(d => getValue(messages, `building/iaq/${d.idx}/co2`))).toFixed(2)),\n        avg_ahu_room_temp_c: Number(avg(ahuDevices.map(d => getValue(messages, `building/ahu/${d.idx}/room_temperature`))).toFixed(2)),\n        payload_count: messages.length\n    }\n};\n\n// =====================================================\n// Compliance Check\n// =====================================================\nconst compliance_check = {\n    scenario: scenario,\n    expected_message_count: 330,\n    actual_message_count: messages.length,\n    pass_total_count: messages.length === 330,\n\n    expected_groups: {\n        \"Chiller Monitoring Points\": 39,\n        \"Pump & Cooling Tower Points\": 63,\n        \"Motorized Valve Points\": 12,\n        \"AHU Monitoring Points\": 28,\n        \"VAV Control Points\": 48,\n        \"IAQ Sensor Points\": 32,\n        \"Outdoor Weather Station Points\": 3,\n        \"Digital Power Meter Points\": 105\n    },\n\n    actual_groups: {\n        \"Chiller Monitoring Points\": messages.filter(m => m.topic.includes(\"/chiller/\") && !m.topic.includes(\"/meter/\")).length,\n        \"Pump & Cooling Tower Points\":\n            messages.filter(m => m.topic.includes(\"/chwp/\") && !m.topic.includes(\"/meter/\")).length +\n            messages.filter(m => m.topic.includes(\"/cdp/\") && !m.topic.includes(\"/meter/\")).length +\n            messages.filter(m => m.topic.includes(\"/ct/\") && !m.topic.includes(\"/meter/\")).length,\n        \"Motorized Valve Points\": messages.filter(m => m.topic.includes(\"/mv/\")).length,\n        \"AHU Monitoring Points\": messages.filter(m => m.topic.includes(\"/ahu/\") && !m.topic.includes(\"/meter/\")).length,\n        \"VAV Control Points\": messages.filter(m => m.topic.includes(\"/vav/\")).length,\n        \"IAQ Sensor Points\": messages.filter(m => m.topic.includes(\"/iaq/\")).length,\n        \"Outdoor Weather Station Points\": messages.filter(m => m.topic.includes(\"/weather/\")).length,\n        \"Digital Power Meter Points\": messages.filter(m => m.topic.includes(\"/meter/\")).length\n    }\n};\n\ncompliance_check.pass_groups =\n    compliance_check.expected_groups[\"Chiller Monitoring Points\"] === compliance_check.actual_groups[\"Chiller Monitoring Points\"] &&\n    compliance_check.expected_groups[\"Pump & Cooling Tower Points\"] === compliance_check.actual_groups[\"Pump & Cooling Tower Points\"] &&\n    compliance_check.expected_groups[\"Motorized Valve Points\"] === compliance_check.actual_groups[\"Motorized Valve Points\"] &&\n    compliance_check.expected_groups[\"AHU Monitoring Points\"] === compliance_check.actual_groups[\"AHU Monitoring Points\"] &&\n    compliance_check.expected_groups[\"VAV Control Points\"] === compliance_check.actual_groups[\"VAV Control Points\"] &&\n    compliance_check.expected_groups[\"IAQ Sensor Points\"] === compliance_check.actual_groups[\"IAQ Sensor Points\"] &&\n    compliance_check.expected_groups[\"Outdoor Weather Station Points\"] === compliance_check.actual_groups[\"Outdoor Weather Station Points\"] &&\n    compliance_check.expected_groups[\"Digital Power Meter Points\"] === compliance_check.actual_groups[\"Digital Power Meter Points\"];\n\n// =====================================================\n// Return\n// =====================================================\nreturn [{\n    payload: messages,\n    summary: summary,\n    compliance: compliance_check,\n    energy_inputs: energy_inputs\n}];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 280,
        "wires": [
            [
                "4c6aab1a07da0cce"
            ]
        ]
    },
    {
        "id": "b25fafb23ddfe951",
        "type": "inject",
        "z": "8c1ad482c6b9a043",
        "name": "Fault Chiller 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "9f6c117203446ba1"
            ]
        ]
    },
    {
        "id": "9f6c117203446ba1",
        "type": "function",
        "z": "8c1ad482c6b9a043",
        "name": "Fault Chiller 2",
        "func": "// =====================================================\n// Fault Chiller 2 - Full Function\n// Output 1 = { payload: messages, summary, compliance, energy_inputs }\n// =====================================================\n\n// ------------------------------\n// Config\n// ------------------------------\nlet nowMs = Date.now();\nlet lastMs = flow.get(\"lastInjectMs\") || nowMs;\nlet intervalSec = (nowMs - lastMs) / 1000;\nflow.set(\"lastInjectMs\", nowMs);\n\nif (intervalSec <= 0) intervalSec = 1;\n\n// ------------------------------\n// Helpers\n// ------------------------------\nfunction clamp(val, min, max) {\n    return Math.max(min, Math.min(max, val));\n}\n\nfunction pushMsg(arr, topic, device, point, value, extra = {}) {\n    arr.push({\n        topic: topic,\n        payload: JSON.stringify({\n            timestamp: new Date().toISOString(),\n            device: device,\n            point: point,\n            value: Number(value),\n            ...extra\n        })\n    });\n}\n\nfunction getValue(messages, topic) {\n    const item = messages.find(m => m.topic === topic);\n    return item ? JSON.parse(item.payload).value : null;\n}\n\nfunction avg(arr) {\n    if (!arr || arr.length === 0) return null;\n    return arr.reduce((a, b) => a + b, 0) / arr.length;\n}\n\nfunction buildGroupSummary(messages, devices, points, topicBuilder) {\n    const result = {};\n    devices.forEach(deviceObj => {\n        const devKey = deviceObj.key;\n        result[devKey] = {};\n        points.forEach(point => {\n            result[devKey][point] = getValue(messages, topicBuilder(deviceObj, point));\n        });\n    });\n    return result;\n}\n\nfunction rnd(min, max) {\n    return min + Math.random() * (max - min);\n}\n\n// ------------------------------\n// Scenario preset: Fault Chiller 2\n// ------------------------------\nconst scenario = \"fault_chiller_2\";\nconst scenarioLabel = \"Fault - Chiller 2 trip\";\n\n// Building / weather assumptions\nconst outdoorDryBulb = Number(rnd(33.0, 35.0).toFixed(2));\nconst outdoorRH = Number(rnd(62, 72).toFixed(2));\nconst outdoorWetBulb = Number((outdoorDryBulb - rnd(2.5, 4.0)).toFixed(2));\n\n// Fault day => medium-high load while one chiller trips\nconst occupancyFactor = rnd(0.72, 0.82);\nconst weatherFactor = clamp(((outdoorDryBulb - 29) / 5) * 0.18, 0, 0.3);\nconst loadFraction = Number(clamp(\n    occupancyFactor + weatherFactor + (Math.random() * 0.02 - 0.01),\n    0.70,\n    0.82\n).toFixed(3));\n\n// Plant capacity\nconst TOTAL_CAPACITY_RT = 1500;\nconst totalCoolingRT = Number((TOTAL_CAPACITY_RT * loadFraction).toFixed(2));\n\n// Fault: chiller 2 trips, chiller 1 and 3 carry load\nconst effectiveRunningChillers = 2;\n\n// Specs\nconst CHILLER_RATED_RT = 500;\nconst CHILLER_RATED_KW = 273;\n\nconst CHWP_RATED_GPM = 1200;\nconst CHWP_RATED_KW = 37;\n\nconst CDP_RATED_KW = 55;\nconst CT_CELL_RATED_KW = 5.5;\n\n// ------------------------------\n// Containers\n// ------------------------------\nlet messages = [];\n\nlet chillerPowers = [0, 0, 0];\nlet chwpPowers = [0, 0, 0];\nlet cdpPowers = [0, 0, 0];\nlet ctPowers = [0, 0, 0];\nlet ahuPowers = [0, 0, 0, 0];\nlet floorPowers = [0, 0, 0, 0];\nlet floorMeterPowers = [0, 0, 0, 0];\n\n// ------------------------------\n// 1) Outdoor Weather Station Points (3)\n// ------------------------------\npushMsg(messages, \"building/weather/1/drybulb_temperature\", \"weather_1\", \"drybulb_temperature\", outdoorDryBulb, {\n    group: \"Outdoor Weather Station Points\",\n    floor: null\n});\npushMsg(messages, \"building/weather/1/humidity\", \"weather_1\", \"humidity\", outdoorRH, {\n    group: \"Outdoor Weather Station Points\",\n    floor: null\n});\npushMsg(messages, \"building/weather/1/wetbulb_temperature\", \"weather_1\", \"wetbulb_temperature\", outdoorWetBulb, {\n    group: \"Outdoor Weather Station Points\",\n    floor: null\n});\n\n// ------------------------------\n// Common chilled water temps\n// ------------------------------\nconst chwSupplyC = Number(rnd(7.5, 8.8).toFixed(2));\nconst chwReturnC = Number(rnd(12.4, 13.6).toFixed(2));\nconst deltaTC = Number((chwReturnC - chwSupplyC).toFixed(2));\n\nconst chwSupplyF = Number((chwSupplyC * 9 / 5 + 32).toFixed(2));\nconst chwReturnF = Number((chwReturnC * 9 / 5 + 32).toFixed(2));\nconst deltaTF = Number((deltaTC * 9 / 5).toFixed(2));\n\n// ------------------------------\n// 2) Chiller Monitoring Points (3 x 13 = 39)\n// ------------------------------\nfor (let i = 1; i <= 3; i++) {\n    let isActive = 1;\n    let statusWrite = 1;\n    let alarm = 0;\n    let effectiveRT = Number((totalCoolingRT / effectiveRunningChillers).toFixed(2));\n\n    // CH-2 trip\n    if (i === 2) {\n        isActive = 0;\n        statusWrite = 0;\n        alarm = 1;\n        effectiveRT = 0;\n    }\n\n    let plr = 0;\n    let efficiency = 0;\n    let powerKW = 0;\n    let evapFlow = 0;\n    let satRefrigTempF = 0;\n    let approachTempF = 0;\n    let percentageRLA = 0;\n    let coolingRate = 0;\n\n    if (isActive) {\n        plr = clamp(effectiveRT / CHILLER_RATED_RT, 0.22, 1.0);\n        efficiency = Number(clamp(\n            0.56 + (1 - plr) * 0.08 + Math.random() * 0.02,\n            0.54,\n            0.72\n        ).toFixed(3));\n\n        powerKW = Number(clamp(effectiveRT * efficiency, 70, CHILLER_RATED_KW).toFixed(2));\n        evapFlow = Number(clamp(650 + plr * 340 + Math.random() * 20, 0, CHWP_RATED_GPM).toFixed(2));\n        satRefrigTempF = Number(clamp(chwSupplyF - rnd(5, 7), 34, 42).toFixed(2));\n        approachTempF = Number(clamp(1.8 + Math.random() * 2.0, 1.5, 5.0).toFixed(2));\n        percentageRLA = Number((plr * 100).toFixed(2));\n        coolingRate = effectiveRT;\n    }\n\n    chillerPowers[i - 1] = powerKW;\n\n    const extra = {\n        group: \"Chiller Monitoring Points\",\n        floor: null,\n        equipment_index: i\n    };\n\n    pushMsg(messages, `building/chiller/${i}/evap_leaving_water_temperature`, `chiller_${i}`, \"evap_leaving_water_temperature\", isActive ? chwSupplyF : 0, extra);\n    pushMsg(messages, `building/chiller/${i}/evap_entering_water_temperature`, `chiller_${i}`, \"evap_entering_water_temperature\", isActive ? chwReturnF : 0, extra);\n    pushMsg(messages, `building/chiller/${i}/evap_water_flow_rate`, `chiller_${i}`, \"evap_water_flow_rate\", evapFlow, extra);\n    pushMsg(messages, `building/chiller/${i}/evap_sat_refrig_temperature`, `chiller_${i}`, \"evap_sat_refrig_temperature\", satRefrigTempF, extra);\n    pushMsg(messages, `building/chiller/${i}/evap_water_delta_temperature`, `chiller_${i}`, \"evap_water_delta_temperature\", isActive ? deltaTF : 0, extra);\n    pushMsg(messages, `building/chiller/${i}/evap_approach_temperature`, `chiller_${i}`, \"evap_approach_temperature\", approachTempF, extra);\n    pushMsg(messages, `building/chiller/${i}/status_read`, `chiller_${i}`, \"status_read\", isActive, extra);\n    pushMsg(messages, `building/chiller/${i}/status_write`, `chiller_${i}`, \"status_write\", statusWrite, extra);\n    pushMsg(messages, `building/chiller/${i}/power`, `chiller_${i}`, \"power\", powerKW, extra);\n    pushMsg(messages, `building/chiller/${i}/alarm`, `chiller_${i}`, \"alarm\", alarm, extra);\n    pushMsg(messages, `building/chiller/${i}/percentage_rla`, `chiller_${i}`, \"percentage_rla\", percentageRLA, extra);\n    pushMsg(messages, `building/chiller/${i}/efficiency`, `chiller_${i}`, \"efficiency\", efficiency, extra);\n    pushMsg(messages, `building/chiller/${i}/cooling_rate`, `chiller_${i}`, \"cooling_rate\", coolingRate, extra);\n}\n\n// ------------------------------\n// 3) Pump & Cooling Tower Points (9 x 7 = 63)\n// ------------------------------\nfor (let i = 1; i <= 3; i++) {\n    // CH-2-associated pumps/tower stop, CH-1 and CH-3 run\n    const isActive = (i === 1 || i === 3) ? 1 : 0;\n\n    // CHWP\n    let chwpFreq = 0;\n    let chwpPower = 0;\n    let chwpEff = 0;\n\n    if (isActive) {\n        chwpFreq = Number(clamp(rnd(48, 57), 0, 60).toFixed(2));\n        chwpPower = Number((CHWP_RATED_KW * Math.pow(chwpFreq / 60, 3)).toFixed(2));\n        chwpEff = Number((0.73 + Math.random() * 0.03).toFixed(3));\n    }\n\n    chwpPowers[i - 1] = chwpPower;\n\n    let extra = { group: \"Pump & Cooling Tower Points\", floor: null, equipment_index: i };\n    pushMsg(messages, `building/chwp/${i}/status_read`, `chwp_${i}`, \"status_read\", isActive, extra);\n    pushMsg(messages, `building/chwp/${i}/status_write`, `chwp_${i}`, \"status_write\", isActive, extra);\n    pushMsg(messages, `building/chwp/${i}/alarm`, `chwp_${i}`, \"alarm\", 0, extra);\n    pushMsg(messages, `building/chwp/${i}/frequency_read`, `chwp_${i}`, \"frequency_read\", chwpFreq, extra);\n    pushMsg(messages, `building/chwp/${i}/frequency_write`, `chwp_${i}`, \"frequency_write\", chwpFreq, extra);\n    pushMsg(messages, `building/chwp/${i}/power`, `chwp_${i}`, \"power\", chwpPower, extra);\n    pushMsg(messages, `building/chwp/${i}/efficiency`, `chwp_${i}`, \"efficiency\", chwpEff, extra);\n\n    // CDP\n    let cdpFreq = 0;\n    let cdpPower = 0;\n    let cdpEff = 0;\n\n    if (isActive) {\n        cdpFreq = Number(clamp(rnd(46, 55), 0, 60).toFixed(2));\n        cdpPower = Number((CDP_RATED_KW * Math.pow(cdpFreq / 60, 3)).toFixed(2));\n        cdpEff = Number((0.72 + Math.random() * 0.03).toFixed(3));\n    }\n\n    cdpPowers[i - 1] = cdpPower;\n\n    pushMsg(messages, `building/cdp/${i}/status_read`, `cdp_${i}`, \"status_read\", isActive, extra);\n    pushMsg(messages, `building/cdp/${i}/status_write`, `cdp_${i}`, \"status_write\", isActive, extra);\n    pushMsg(messages, `building/cdp/${i}/alarm`, `cdp_${i}`, \"alarm\", 0, extra);\n    pushMsg(messages, `building/cdp/${i}/frequency_read`, `cdp_${i}`, \"frequency_read\", cdpFreq, extra);\n    pushMsg(messages, `building/cdp/${i}/frequency_write`, `cdp_${i}`, \"frequency_write\", cdpFreq, extra);\n    pushMsg(messages, `building/cdp/${i}/power`, `cdp_${i}`, \"power\", cdpPower, extra);\n    pushMsg(messages, `building/cdp/${i}/efficiency`, `cdp_${i}`, \"efficiency\", cdpEff, extra);\n\n    // CT\n    let ctFreq = 0;\n    let ctPower = 0;\n    let ctEff = 0;\n\n    if (isActive) {\n        ctFreq = Number(clamp(rnd(40, 50), 0, 60).toFixed(2));\n        ctPower = Number((CT_CELL_RATED_KW * Math.pow(ctFreq / 60, 3) * 2).toFixed(2));\n        ctEff = Number((0.69 + Math.random() * 0.04).toFixed(3));\n    }\n\n    ctPowers[i - 1] = ctPower;\n\n    pushMsg(messages, `building/ct/${i}/status_read`, `ct_${i}`, \"status_read\", isActive, extra);\n    pushMsg(messages, `building/ct/${i}/status_write`, `ct_${i}`, \"status_write\", isActive, extra);\n    pushMsg(messages, `building/ct/${i}/alarm`, `ct_${i}`, \"alarm\", 0, extra);\n    pushMsg(messages, `building/ct/${i}/frequency_read`, `ct_${i}`, \"frequency_read\", ctFreq, extra);\n    pushMsg(messages, `building/ct/${i}/frequency_write`, `ct_${i}`, \"frequency_write\", ctFreq, extra);\n    pushMsg(messages, `building/ct/${i}/power`, `ct_${i}`, \"power\", ctPower, extra);\n    pushMsg(messages, `building/ct/${i}/efficiency`, `ct_${i}`, \"efficiency\", ctEff, extra);\n}\n\n// ------------------------------\n// 4) Motorized Valve Points (4 x 3 = 12)\n// ------------------------------\nconst zoneBias = [1.00, 1.03, 0.97, 1.01];\n\nfor (let floor = 1; floor <= 4; floor++) {\n    const zoneLoad = clamp(loadFraction * zoneBias[floor - 1], 0.15, 1.0);\n\n    const valveFeedback = Number(clamp(72 + zoneLoad * 20 + Math.random() * 4, 10, 98).toFixed(2));\n    const valveCommand = Number(clamp(valveFeedback + (Math.random() * 4 - 2), 10, 98).toFixed(2));\n    const valveAlarm = 0;\n\n    const extra = {\n        group: \"Motorized Valve Points\",\n        floor: floor,\n        equipment_index: floor\n    };\n\n    pushMsg(messages, `building/mv/${floor}/status_read`, `mv_${floor}`, \"status_read\", valveFeedback, extra);\n    pushMsg(messages, `building/mv/${floor}/status_write`, `mv_${floor}`, \"status_write\", valveCommand, extra);\n    pushMsg(messages, `building/mv/${floor}/alarm`, `mv_${floor}`, \"alarm\", valveAlarm, extra);\n}\n\n// ------------------------------\n// 5) AHU Monitoring Points (4 x 7 = 28)\n// ------------------------------\nfor (let floor = 1; floor <= 4; floor++) {\n    const zoneLoad = clamp(loadFraction * zoneBias[floor - 1], 0.15, 1.0);\n\n    const roomTemp = Number(clamp(24.2 + zoneLoad * 1.4 + rnd(0.3, 0.8) + (Math.random() * 0.4 - 0.2), 22.0, 27.5).toFixed(2));\n    const setpoint = 23.0;\n    const humidity = Number(clamp(60 + zoneLoad * 6 + rnd(0.5, 1.5), 45, 72).toFixed(2));\n    const ahuAlarm = 0;\n    const ahuPower = Number(clamp(11 + zoneLoad * 6 + Math.random() * 1.2, 4, 22).toFixed(2));\n\n    ahuPowers[floor - 1] = ahuPower;\n    floorPowers[floor - 1] += ahuPower;\n\n    const extra = {\n        group: \"AHU Monitoring Points\",\n        floor: floor,\n        equipment_index: floor\n    };\n\n    pushMsg(messages, `building/ahu/${floor}/room_temperature`, `ahu_${floor}`, \"room_temperature\", roomTemp, extra);\n    pushMsg(messages, `building/ahu/${floor}/setpoint`, `ahu_${floor}`, \"setpoint\", setpoint, extra);\n    pushMsg(messages, `building/ahu/${floor}/status_read`, `ahu_${floor}`, \"status_read\", 1, extra);\n    pushMsg(messages, `building/ahu/${floor}/status_write`, `ahu_${floor}`, \"status_write\", 1, extra);\n    pushMsg(messages, `building/ahu/${floor}/humidity`, `ahu_${floor}`, \"humidity\", humidity, extra);\n    pushMsg(messages, `building/ahu/${floor}/alarm`, `ahu_${floor}`, \"alarm\", ahuAlarm, extra);\n    pushMsg(messages, `building/ahu/${floor}/power`, `ahu_${floor}`, \"power\", ahuPower, extra);\n}\n\n// ------------------------------\n// 6) VAV Control Points (16 x 3 = 48)\n// ------------------------------\nfor (let floor = 1; floor <= 4; floor++) {\n    const zoneLoad = clamp(loadFraction * zoneBias[floor - 1], 0.15, 1.0);\n\n    for (let v = 1; v <= 4; v++) {\n        const vavIndex = (floor - 1) * 4 + v;\n\n        const damperPos = Number(clamp(76 + zoneLoad * 18 + rnd(2, 5) + Math.random() * 4, 15, 98).toFixed(2));\n        const airflow = Number(clamp(760 + zoneLoad * 120 + rnd(20, 50) + Math.random() * 35, 250, 1100).toFixed(2));\n        const damperCmd = Number(clamp(damperPos + (Math.random() * 4 - 2), 15, 98).toFixed(2));\n\n        const extra = {\n            group: \"VAV Control Points\",\n            floor: floor,\n            equipment_index: vavIndex\n        };\n\n        pushMsg(messages, `building/vav/${vavIndex}/damper_position`, `vav_${vavIndex}`, \"damper_position\", damperPos, extra);\n        pushMsg(messages, `building/vav/${vavIndex}/air_flow_rate`, `vav_${vavIndex}`, \"air_flow_rate\", airflow, extra);\n        pushMsg(messages, `building/vav/${vavIndex}/damper_control`, `vav_${vavIndex}`, \"damper_control\", damperCmd, extra);\n    }\n}\n\n// ------------------------------\n// 7) IAQ Sensor Points (8 x 4 = 32)\n// ------------------------------\nfor (let floor = 1; floor <= 4; floor++) {\n    const zoneLoad = clamp(loadFraction * zoneBias[floor - 1], 0.15, 1.0);\n\n    for (let s = 1; s <= 2; s++) {\n        const iaqIndex = (floor - 1) * 2 + s;\n\n        const temperature = Number(clamp(24.5 + zoneLoad * 0.9 + rnd(0.3, 0.7) + (Math.random() * 0.3 - 0.15), 22, 28).toFixed(2));\n        const humidity = Number(clamp(60 + zoneLoad * 5 + rnd(0.3, 1.2), 45, 68).toFixed(2));\n        const co2 = Number(clamp(820 + zoneLoad * 120 + rnd(20, 60), 380, 1200).toFixed(2));\n        const pm25 = Number(clamp(14 + zoneLoad * 5 + Math.random() * 2, 5, 30).toFixed(2));\n\n        const extra = {\n            group: \"IAQ Sensor Points\",\n            floor: floor,\n            equipment_index: iaqIndex\n        };\n\n        pushMsg(messages, `building/iaq/${iaqIndex}/temperature`, `iaq_${iaqIndex}`, \"temperature\", temperature, extra);\n        pushMsg(messages, `building/iaq/${iaqIndex}/humidity`, `iaq_${iaqIndex}`, \"humidity\", humidity, extra);\n        pushMsg(messages, `building/iaq/${iaqIndex}/co2`, `iaq_${iaqIndex}`, \"co2\", co2, extra);\n        pushMsg(messages, `building/iaq/${iaqIndex}/pm25`, `iaq_${iaqIndex}`, \"pm25\", pm25, extra);\n    }\n}\n\n// ------------------------------\n// 8) Digital Power Meter Points\n// ------------------------------\nconst totalChillerPower = Number(chillerPowers.reduce((a, b) => a + b, 0).toFixed(2));\nconst totalCHWPPower = Number(chwpPowers.reduce((a, b) => a + b, 0).toFixed(2));\nconst totalCDPPower = Number(cdpPowers.reduce((a, b) => a + b, 0).toFixed(2));\nconst totalCTPower = Number(ctPowers.reduce((a, b) => a + b, 0).toFixed(2));\nconst totalAHUPower = Number(ahuPowers.reduce((a, b) => a + b, 0).toFixed(2));\n\nconst miscBuildingPower = Number(clamp(58 + loadFraction * 30 + Math.random() * 6, 20, 110).toFixed(2));\nconst totalBuildingPower = Number((totalChillerPower + totalCHWPPower + totalCDPPower + totalCTPower + totalAHUPower + miscBuildingPower).toFixed(2));\n\nconst voltage = Number(clamp(399 + Math.random() * 8, 398, 410).toFixed(2));\nconst current = Number((totalBuildingPower * 1000 / (Math.sqrt(3) * voltage * 0.92)).toFixed(2));\nconst pf = Number(clamp(0.90 + Math.random() * 0.03, 0.90, 0.95).toFixed(3));\n\n// Main Building Meter\npushMsg(messages, \"building/meter/main/voltage_LL_average\", \"main_meter_1\", \"voltage_LL_average\", voltage, {\n    group: \"Digital Power Meter Points\",\n    floor: null\n});\npushMsg(messages, \"building/meter/main/current\", \"main_meter_1\", \"current\", current, {\n    group: \"Digital Power Meter Points\",\n    floor: null\n});\npushMsg(messages, \"building/meter/main/power\", \"main_meter_1\", \"power\", totalBuildingPower, {\n    group: \"Digital Power Meter Points\",\n    floor: null\n});\npushMsg(messages, \"building/meter/main/power_factor\", \"main_meter_1\", \"power_factor\", pf, {\n    group: \"Digital Power Meter Points\",\n    floor: null\n});\n\n// Floor Sub-Meters\nfor (let floor = 1; floor <= 4; floor++) {\n    const floorLoadShare = Number((miscBuildingPower / 4 + Math.random() * 2.5).toFixed(2));\n    const fPower = Number((floorPowers[floor - 1] + floorLoadShare).toFixed(2));\n    const fVoltage = Number(clamp(399 + Math.random() * 6, 398, 410).toFixed(2));\n    const fCurrent = Number((fPower * 1000 / (Math.sqrt(3) * fVoltage * 0.92)).toFixed(2));\n\n    floorMeterPowers[floor - 1] = fPower;\n\n    pushMsg(messages, `building/meter/floor/${floor}/voltage_LL_average`, `floor_meter_${floor}`, \"voltage_LL_average\", fVoltage, {\n        group: \"Digital Power Meter Points\",\n        floor: floor\n    });\n    pushMsg(messages, `building/meter/floor/${floor}/current`, `floor_meter_${floor}`, \"current\", fCurrent, {\n        group: \"Digital Power Meter Points\",\n        floor: floor\n    });\n    pushMsg(messages, `building/meter/floor/${floor}/power`, `floor_meter_${floor}`, \"power\", fPower, {\n        group: \"Digital Power Meter Points\",\n        floor: floor\n    });\n    pushMsg(messages, `building/meter/floor/${floor}/power_factor`, `floor_meter_${floor}`, \"power_factor\", pf, {\n        group: \"Digital Power Meter Points\",\n        floor: floor\n    });\n}\n\n// Chiller Sub-Meters\nfor (let i = 1; i <= 3; i++) {\n    const p = chillerPowers[i - 1];\n\n    pushMsg(messages, `building/meter/chiller/${i}/voltage_LL_average`, `chiller_meter_${i}`, \"voltage_LL_average\", voltage, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/chiller/${i}/current`, `chiller_meter_${i}`, \"current\", Number((p * 1000 / (Math.sqrt(3) * voltage * 0.92)).toFixed(2)), {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/chiller/${i}/power`, `chiller_meter_${i}`, \"power\", p, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/chiller/${i}/power_factor`, `chiller_meter_${i}`, \"power_factor\", pf, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n}\n\n// CHWP Sub-Meters\nfor (let i = 1; i <= 3; i++) {\n    const p = chwpPowers[i - 1];\n\n    pushMsg(messages, `building/meter/chwp/${i}/voltage_LL_average`, `chwp_meter_${i}`, \"voltage_LL_average\", voltage, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/chwp/${i}/current`, `chwp_meter_${i}`, \"current\", Number((p * 1000 / (Math.sqrt(3) * voltage * 0.92)).toFixed(2)), {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/chwp/${i}/power`, `chwp_meter_${i}`, \"power\", p, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/chwp/${i}/power_factor`, `chwp_meter_${i}`, \"power_factor\", pf, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n}\n\n// CDP Sub-Meters\nfor (let i = 1; i <= 3; i++) {\n    const p = cdpPowers[i - 1];\n\n    pushMsg(messages, `building/meter/cdp/${i}/voltage_LL_average`, `cdp_meter_${i}`, \"voltage_LL_average\", voltage, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/cdp/${i}/current`, `cdp_meter_${i}`, \"current\", Number((p * 1000 / (Math.sqrt(3) * voltage * 0.92)).toFixed(2)), {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/cdp/${i}/power`, `cdp_meter_${i}`, \"power\", p, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/cdp/${i}/power_factor`, `cdp_meter_${i}`, \"power_factor\", pf, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n}\n\n// CT Sub-Meters\nfor (let i = 1; i <= 3; i++) {\n    const p = ctPowers[i - 1];\n\n    pushMsg(messages, `building/meter/ct/${i}/voltage_LL_average`, `ct_meter_${i}`, \"voltage_LL_average\", voltage, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/ct/${i}/current`, `ct_meter_${i}`, \"current\", Number((p * 1000 / (Math.sqrt(3) * voltage * 0.92)).toFixed(2)), {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/ct/${i}/power`, `ct_meter_${i}`, \"power\", p, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/ct/${i}/power_factor`, `ct_meter_${i}`, \"power_factor\", pf, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n}\n\n// AHU Sub-Meters\nfor (let i = 1; i <= 4; i++) {\n    const p = ahuPowers[i - 1];\n\n    pushMsg(messages, `building/meter/ahu/${i}/voltage_LL_average`, `ahu_meter_${i}`, \"voltage_LL_average\", voltage, {\n        group: \"Digital Power Meter Points\",\n        floor: i\n    });\n    pushMsg(messages, `building/meter/ahu/${i}/current`, `ahu_meter_${i}`, \"current\", Number((p * 1000 / (Math.sqrt(3) * voltage * 0.92)).toFixed(2)), {\n        group: \"Digital Power Meter Points\",\n        floor: i\n    });\n    pushMsg(messages, `building/meter/ahu/${i}/power`, `ahu_meter_${i}`, \"power\", p, {\n        group: \"Digital Power Meter Points\",\n        floor: i\n    });\n    pushMsg(messages, `building/meter/ahu/${i}/power_factor`, `ahu_meter_${i}`, \"power_factor\", pf, {\n        group: \"Digital Power Meter Points\",\n        floor: i\n    });\n}\n\n// ------------------------------\n// Energy inputs for Energy Accumulator\n// ------------------------------\nconst energy_inputs = {\n    main_meter_1: totalBuildingPower,\n\n    floor_meter_1: floorMeterPowers[0],\n    floor_meter_2: floorMeterPowers[1],\n    floor_meter_3: floorMeterPowers[2],\n    floor_meter_4: floorMeterPowers[3],\n\n    chiller_meter_1: chillerPowers[0],\n    chiller_meter_2: chillerPowers[1],\n    chiller_meter_3: chillerPowers[2],\n\n    chwp_meter_1: chwpPowers[0],\n    chwp_meter_2: chwpPowers[1],\n    chwp_meter_3: chwpPowers[2],\n\n    cdp_meter_1: cdpPowers[0],\n    cdp_meter_2: cdpPowers[1],\n    cdp_meter_3: cdpPowers[2],\n\n    ct_meter_1: ctPowers[0],\n    ct_meter_2: ctPowers[1],\n    ct_meter_3: ctPowers[2],\n\n    ahu_meter_1: ahuPowers[0],\n    ahu_meter_2: ahuPowers[1],\n    ahu_meter_3: ahuPowers[2],\n    ahu_meter_4: ahuPowers[3]\n};\n\n// =====================================================\n// FULL SUMMARY\n// =====================================================\nconst chillerDevices = [\n    { key: \"chiller_1\", idx: 1 },\n    { key: \"chiller_2\", idx: 2 },\n    { key: \"chiller_3\", idx: 3 }\n];\nconst pumpCtDevices = [\n    { key: \"chwp_1\", prefix: \"chwp\", idx: 1 },\n    { key: \"chwp_2\", prefix: \"chwp\", idx: 2 },\n    { key: \"chwp_3\", prefix: \"chwp\", idx: 3 },\n    { key: \"cdp_1\", prefix: \"cdp\", idx: 1 },\n    { key: \"cdp_2\", prefix: \"cdp\", idx: 2 },\n    { key: \"cdp_3\", prefix: \"cdp\", idx: 3 },\n    { key: \"ct_1\", prefix: \"ct\", idx: 1 },\n    { key: \"ct_2\", prefix: \"ct\", idx: 2 },\n    { key: \"ct_3\", prefix: \"ct\", idx: 3 }\n];\nconst mvDevices = [\n    { key: \"mv_1\", idx: 1 },\n    { key: \"mv_2\", idx: 2 },\n    { key: \"mv_3\", idx: 3 },\n    { key: \"mv_4\", idx: 4 }\n];\nconst ahuDevices = [\n    { key: \"ahu_1\", idx: 1 },\n    { key: \"ahu_2\", idx: 2 },\n    { key: \"ahu_3\", idx: 3 },\n    { key: \"ahu_4\", idx: 4 }\n];\nconst vavDevices = Array.from({ length: 16 }, (_, i) => ({ key: `vav_${i + 1}`, idx: i + 1 }));\nconst iaqDevices = Array.from({ length: 8 }, (_, i) => ({ key: `iaq_${i + 1}`, idx: i + 1 }));\nconst weatherDevices = [{ key: \"weather_1\", idx: 1 }];\nconst meterDevices = [\n    { key: \"main_meter_1\", type: \"main\", idx: 1 },\n    { key: \"floor_meter_1\", type: \"floor\", idx: 1 },\n    { key: \"floor_meter_2\", type: \"floor\", idx: 2 },\n    { key: \"floor_meter_3\", type: \"floor\", idx: 3 },\n    { key: \"floor_meter_4\", type: \"floor\", idx: 4 },\n    { key: \"chiller_meter_1\", type: \"chiller\", idx: 1 },\n    { key: \"chiller_meter_2\", type: \"chiller\", idx: 2 },\n    { key: \"chiller_meter_3\", type: \"chiller\", idx: 3 },\n    { key: \"chwp_meter_1\", type: \"chwp\", idx: 1 },\n    { key: \"chwp_meter_2\", type: \"chwp\", idx: 2 },\n    { key: \"chwp_meter_3\", type: \"chwp\", idx: 3 },\n    { key: \"cdp_meter_1\", type: \"cdp\", idx: 1 },\n    { key: \"cdp_meter_2\", type: \"cdp\", idx: 2 },\n    { key: \"cdp_meter_3\", type: \"cdp\", idx: 3 },\n    { key: \"ct_meter_1\", type: \"ct\", idx: 1 },\n    { key: \"ct_meter_2\", type: \"ct\", idx: 2 },\n    { key: \"ct_meter_3\", type: \"ct\", idx: 3 },\n    { key: \"ahu_meter_1\", type: \"ahu\", idx: 1 },\n    { key: \"ahu_meter_2\", type: \"ahu\", idx: 2 },\n    { key: \"ahu_meter_3\", type: \"ahu\", idx: 3 },\n    { key: \"ahu_meter_4\", type: \"ahu\", idx: 4 }\n];\n\nconst summary = {\n    Scenario: scenario,\n    Scenario_label: scenarioLabel,\n    Timestamp: new Date().toISOString(),\n\n    \"Chiller Monitoring Points\": buildGroupSummary(\n        messages,\n        chillerDevices,\n        [\n            \"evap_leaving_water_temperature\",\n            \"evap_entering_water_temperature\",\n            \"evap_water_flow_rate\",\n            \"evap_sat_refrig_temperature\",\n            \"evap_water_delta_temperature\",\n            \"evap_approach_temperature\",\n            \"status_read\",\n            \"status_write\",\n            \"power\",\n            \"alarm\",\n            \"percentage_rla\",\n            \"efficiency\",\n            \"cooling_rate\"\n        ],\n        (d, p) => `building/chiller/${d.idx}/${p}`\n    ),\n\n    \"Pump & Cooling Tower Points\": buildGroupSummary(\n        messages,\n        pumpCtDevices,\n        [\n            \"status_read\",\n            \"status_write\",\n            \"alarm\",\n            \"frequency_read\",\n            \"frequency_write\",\n            \"power\",\n            \"efficiency\"\n        ],\n        (d, p) => `building/${d.prefix}/${d.idx}/${p}`\n    ),\n\n    \"Motorized Valve Points\": buildGroupSummary(\n        messages,\n        mvDevices,\n        [\"status_read\", \"status_write\", \"alarm\"],\n        (d, p) => `building/mv/${d.idx}/${p}`\n    ),\n\n    \"AHU Monitoring Points\": buildGroupSummary(\n        messages,\n        ahuDevices,\n        [\n            \"room_temperature\",\n            \"setpoint\",\n            \"status_read\",\n            \"status_write\",\n            \"humidity\",\n            \"alarm\",\n            \"power\"\n        ],\n        (d, p) => `building/ahu/${d.idx}/${p}`\n    ),\n\n    \"VAV Control Points\": buildGroupSummary(\n        messages,\n        vavDevices,\n        [\"damper_position\", \"air_flow_rate\", \"damper_control\"],\n        (d, p) => `building/vav/${d.idx}/${p}`\n    ),\n\n    \"IAQ Sensor Points\": buildGroupSummary(\n        messages,\n        iaqDevices,\n        [\"temperature\", \"humidity\", \"co2\", \"pm25\"],\n        (d, p) => `building/iaq/${d.idx}/${p}`\n    ),\n\n    \"Outdoor Weather Station Points\": buildGroupSummary(\n        messages,\n        weatherDevices,\n        [\"drybulb_temperature\", \"humidity\", \"wetbulb_temperature\"],\n        (d, p) => `building/weather/${d.idx}/${p}`\n    ),\n\n    \"Digital Power Meter Points\": buildGroupSummary(\n        messages,\n        meterDevices,\n        [\"voltage_LL_average\", \"current\", \"power\", \"energy\", \"power_factor\"],\n        (d, p) => {\n            if (d.type === \"main\") return `building/meter/main/${p}`;\n            return `building/meter/${d.type}/${d.idx}/${p}`;\n        }\n    ),\n\n    extra: {\n        total_chiller_power_kw: totalChillerPower,\n        total_chwp_power_kw: totalCHWPPower,\n        total_cdp_power_kw: totalCDPPower,\n        total_ct_power_kw: totalCTPower,\n        total_ahu_power_kw: totalAHUPower,\n        total_building_power_kw: totalBuildingPower,\n        avg_iaq_co2_ppm: Number(avg(iaqDevices.map(d => getValue(messages, `building/iaq/${d.idx}/co2`))).toFixed(2)),\n        avg_ahu_room_temp_c: Number(avg(ahuDevices.map(d => getValue(messages, `building/ahu/${d.idx}/room_temperature`))).toFixed(2)),\n        payload_count: messages.length\n    }\n};\n\n// =====================================================\n// Compliance Check\n// =====================================================\nconst compliance_check = {\n    scenario: scenario,\n    expected_message_count: 330,\n    actual_message_count: messages.length,\n    pass_total_count: messages.length === 330,\n\n    expected_groups: {\n        \"Chiller Monitoring Points\": 39,\n        \"Pump & Cooling Tower Points\": 63,\n        \"Motorized Valve Points\": 12,\n        \"AHU Monitoring Points\": 28,\n        \"VAV Control Points\": 48,\n        \"IAQ Sensor Points\": 32,\n        \"Outdoor Weather Station Points\": 3,\n        \"Digital Power Meter Points\": 105\n    },\n\n    actual_groups: {\n        \"Chiller Monitoring Points\": messages.filter(m => m.topic.includes(\"/chiller/\") && !m.topic.includes(\"/meter/\")).length,\n        \"Pump & Cooling Tower Points\":\n            messages.filter(m => m.topic.includes(\"/chwp/\") && !m.topic.includes(\"/meter/\")).length +\n            messages.filter(m => m.topic.includes(\"/cdp/\") && !m.topic.includes(\"/meter/\")).length +\n            messages.filter(m => m.topic.includes(\"/ct/\") && !m.topic.includes(\"/meter/\")).length,\n        \"Motorized Valve Points\": messages.filter(m => m.topic.includes(\"/mv/\")).length,\n        \"AHU Monitoring Points\": messages.filter(m => m.topic.includes(\"/ahu/\") && !m.topic.includes(\"/meter/\")).length,\n        \"VAV Control Points\": messages.filter(m => m.topic.includes(\"/vav/\")).length,\n        \"IAQ Sensor Points\": messages.filter(m => m.topic.includes(\"/iaq/\")).length,\n        \"Outdoor Weather Station Points\": messages.filter(m => m.topic.includes(\"/weather/\")).length,\n        \"Digital Power Meter Points\": messages.filter(m => m.topic.includes(\"/meter/\")).length\n    }\n};\n\ncompliance_check.pass_groups =\n    compliance_check.expected_groups[\"Chiller Monitoring Points\"] === compliance_check.actual_groups[\"Chiller Monitoring Points\"] &&\n    compliance_check.expected_groups[\"Pump & Cooling Tower Points\"] === compliance_check.actual_groups[\"Pump & Cooling Tower Points\"] &&\n    compliance_check.expected_groups[\"Motorized Valve Points\"] === compliance_check.actual_groups[\"Motorized Valve Points\"] &&\n    compliance_check.expected_groups[\"AHU Monitoring Points\"] === compliance_check.actual_groups[\"AHU Monitoring Points\"] &&\n    compliance_check.expected_groups[\"VAV Control Points\"] === compliance_check.actual_groups[\"VAV Control Points\"] &&\n    compliance_check.expected_groups[\"IAQ Sensor Points\"] === compliance_check.actual_groups[\"IAQ Sensor Points\"] &&\n    compliance_check.expected_groups[\"Outdoor Weather Station Points\"] === compliance_check.actual_groups[\"Outdoor Weather Station Points\"] &&\n    compliance_check.expected_groups[\"Digital Power Meter Points\"] === compliance_check.actual_groups[\"Digital Power Meter Points\"];\n\n// =====================================================\n// Return\n// =====================================================\nreturn [{\n    payload: messages,\n    summary: summary,\n    compliance: compliance_check,\n    energy_inputs: energy_inputs\n}];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 360,
        "wires": [
            [
                "4c6aab1a07da0cce"
            ]
        ]
    },
    {
        "id": "d520a4a254ebeb7d",
        "type": "inject",
        "z": "8c1ad482c6b9a043",
        "name": "Night",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/5 17-23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 320,
        "wires": [
            [
                "fe5f6a04bf2ed09f"
            ]
        ]
    },
    {
        "id": "fe5f6a04bf2ed09f",
        "type": "function",
        "z": "8c1ad482c6b9a043",
        "name": "Night",
        "func": "// =====================================================\n// Night - Full Function\n// Output 1 = { payload: messages, summary, compliance, energy_inputs }\n// =====================================================\n\n// ------------------------------\n// Config\n// ------------------------------\nlet nowMs = Date.now();\nlet lastMs = flow.get(\"lastInjectMs\") || nowMs;\nlet intervalSec = (nowMs - lastMs) / 1000;\nflow.set(\"lastInjectMs\", nowMs);\n\nif (intervalSec <= 0) intervalSec = 1;\n\n// ------------------------------\n// Helpers\n// ------------------------------\nfunction clamp(val, min, max) {\n    return Math.max(min, Math.min(max, val));\n}\n\nfunction pushMsg(arr, topic, device, point, value, extra = {}) {\n    arr.push({\n        topic: topic,\n        payload: JSON.stringify({\n            timestamp: new Date().toISOString(),\n            device: device,\n            point: point,\n            value: Number(value),\n            ...extra\n        })\n    });\n}\n\nfunction getValue(messages, topic) {\n    const item = messages.find(m => m.topic === topic);\n    return item ? JSON.parse(item.payload).value : null;\n}\n\nfunction avg(arr) {\n    if (!arr || arr.length === 0) return null;\n    return arr.reduce((a, b) => a + b, 0) / arr.length;\n}\n\nfunction buildGroupSummary(messages, devices, points, topicBuilder) {\n    const result = {};\n    devices.forEach(deviceObj => {\n        const devKey = deviceObj.key;\n        result[devKey] = {};\n        points.forEach(point => {\n            result[devKey][point] = getValue(messages, topicBuilder(deviceObj, point));\n        });\n    });\n    return result;\n}\n\nfunction rnd(min, max) {\n    return min + Math.random() * (max - min);\n}\n\n// ------------------------------\n// Scenario preset: Night\n// ------------------------------\nconst scenario = \"night\";\nconst scenarioLabel = \"Night - low occupancy, low cooling demand\";\n\n// Building / weather assumptions for Night\nconst outdoorDryBulb = Number(rnd(28.0, 30.5).toFixed(2));\nconst outdoorRH = Number(rnd(62, 72).toFixed(2));\nconst outdoorWetBulb = Number((outdoorDryBulb - rnd(2.5, 4.0)).toFixed(2));\n\n// Night => low load\nconst occupancyFactor = rnd(0.22, 0.32);\nconst weatherFactor = clamp(((outdoorDryBulb - 29) / 5) * 0.06, 0, 0.3);\nconst loadFraction = Number(clamp(\n    occupancyFactor + weatherFactor + (Math.random() * 0.02 - 0.01),\n    0.22,\n    0.36\n).toFixed(3));\n\n// Plant capacity\nconst TOTAL_CAPACITY_RT = 1500;\nconst totalCoolingRT = Number((TOTAL_CAPACITY_RT * loadFraction).toFixed(2));\n\n// Night => 1 chiller active\nconst activeChillers = 1;\nconst perChillerRT = Number((totalCoolingRT / activeChillers).toFixed(2));\n\n// Specs\nconst CHILLER_RATED_RT = 500;\nconst CHILLER_RATED_KW = 273;\n\nconst CHWP_RATED_GPM = 1200;\nconst CHWP_RATED_KW = 37;\n\nconst CDP_RATED_KW = 55;\nconst CT_CELL_RATED_KW = 5.5;\n\n// ------------------------------\n// Containers\n// ------------------------------\nlet messages = [];\n\nlet chillerPowers = [0, 0, 0];\nlet chwpPowers = [0, 0, 0];\nlet cdpPowers = [0, 0, 0];\nlet ctPowers = [0, 0, 0];\nlet ahuPowers = [0, 0, 0, 0];\nlet floorPowers = [0, 0, 0, 0];\nlet floorMeterPowers = [0, 0, 0, 0];\n\n// ------------------------------\n// 1) Outdoor Weather Station Points (3)\n// ------------------------------\npushMsg(messages, \"building/weather/1/drybulb_temperature\", \"weather_1\", \"drybulb_temperature\", outdoorDryBulb, {\n    group: \"Outdoor Weather Station Points\",\n    floor: null\n});\npushMsg(messages, \"building/weather/1/humidity\", \"weather_1\", \"humidity\", outdoorRH, {\n    group: \"Outdoor Weather Station Points\",\n    floor: null\n});\npushMsg(messages, \"building/weather/1/wetbulb_temperature\", \"weather_1\", \"wetbulb_temperature\", outdoorWetBulb, {\n    group: \"Outdoor Weather Station Points\",\n    floor: null\n});\n\n// ------------------------------\n// Common chilled water temps\n// ------------------------------\nconst chwSupplyC = Number(rnd(7.2, 8.0).toFixed(2));\nconst chwReturnC = Number(rnd(10.0, 11.2).toFixed(2));\nconst deltaTC = Number((chwReturnC - chwSupplyC).toFixed(2));\n\nconst chwSupplyF = Number((chwSupplyC * 9 / 5 + 32).toFixed(2));\nconst chwReturnF = Number((chwReturnC * 9 / 5 + 32).toFixed(2));\nconst deltaTF = Number((deltaTC * 9 / 5).toFixed(2));\n\n// ------------------------------\n// 2) Chiller Monitoring Points (3 x 13 = 39)\n// ------------------------------\nfor (let i = 1; i <= 3; i++) {\n    const isActive = i === 1 ? 1 : 0;\n\n    let plr = 0;\n    let efficiency = 0;\n    let powerKW = 0;\n    let evapFlow = 0;\n    let satRefrigTempF = 0;\n    let approachTempF = 0;\n    let percentageRLA = 0;\n    let coolingRate = 0;\n    let alarm = 0;\n\n    if (isActive) {\n        plr = clamp(perChillerRT / CHILLER_RATED_RT, 0.22, 1.0);\n        efficiency = Number(clamp(\n            0.56 + (1 - plr) * 0.08 + Math.random() * 0.02,\n            0.54,\n            0.72\n        ).toFixed(3));\n\n        powerKW = Number(clamp(perChillerRT * efficiency, 70, CHILLER_RATED_KW).toFixed(2));\n        evapFlow = Number(clamp(650 + plr * 340 + Math.random() * 20, 0, CHWP_RATED_GPM).toFixed(2));\n        satRefrigTempF = Number(clamp(chwSupplyF - rnd(5, 7), 34, 42).toFixed(2));\n        approachTempF = Number(clamp(1.8 + Math.random() * 2.0, 1.5, 5.0).toFixed(2));\n        percentageRLA = Number((plr * 100).toFixed(2));\n        coolingRate = perChillerRT;\n    }\n\n    chillerPowers[i - 1] = powerKW;\n\n    const extra = {\n        group: \"Chiller Monitoring Points\",\n        floor: null,\n        equipment_index: i\n    };\n\n    pushMsg(messages, `building/chiller/${i}/evap_leaving_water_temperature`, `chiller_${i}`, \"evap_leaving_water_temperature\", isActive ? chwSupplyF : 0, extra);\n    pushMsg(messages, `building/chiller/${i}/evap_entering_water_temperature`, `chiller_${i}`, \"evap_entering_water_temperature\", isActive ? chwReturnF : 0, extra);\n    pushMsg(messages, `building/chiller/${i}/evap_water_flow_rate`, `chiller_${i}`, \"evap_water_flow_rate\", evapFlow, extra);\n    pushMsg(messages, `building/chiller/${i}/evap_sat_refrig_temperature`, `chiller_${i}`, \"evap_sat_refrig_temperature\", satRefrigTempF, extra);\n    pushMsg(messages, `building/chiller/${i}/evap_water_delta_temperature`, `chiller_${i}`, \"evap_water_delta_temperature\", isActive ? deltaTF : 0, extra);\n    pushMsg(messages, `building/chiller/${i}/evap_approach_temperature`, `chiller_${i}`, \"evap_approach_temperature\", approachTempF, extra);\n    pushMsg(messages, `building/chiller/${i}/status_read`, `chiller_${i}`, \"status_read\", isActive, extra);\n    pushMsg(messages, `building/chiller/${i}/status_write`, `chiller_${i}`, \"status_write\", isActive, extra);\n    pushMsg(messages, `building/chiller/${i}/power`, `chiller_${i}`, \"power\", powerKW, extra);\n    pushMsg(messages, `building/chiller/${i}/alarm`, `chiller_${i}`, \"alarm\", alarm, extra);\n    pushMsg(messages, `building/chiller/${i}/percentage_rla`, `chiller_${i}`, \"percentage_rla\", percentageRLA, extra);\n    pushMsg(messages, `building/chiller/${i}/efficiency`, `chiller_${i}`, \"efficiency\", efficiency, extra);\n    pushMsg(messages, `building/chiller/${i}/cooling_rate`, `chiller_${i}`, \"cooling_rate\", coolingRate, extra);\n}\n\n// ------------------------------\n// 3) Pump & Cooling Tower Points (9 x 7 = 63)\n// ------------------------------\nfor (let i = 1; i <= 3; i++) {\n    const isActive = i === 1 ? 1 : 0;\n\n    // CHWP\n    let chwpFreq = 0;\n    let chwpPower = 0;\n    let chwpEff = 0;\n\n    if (isActive) {\n        chwpFreq = Number(clamp(rnd(32, 40), 0, 60).toFixed(2));\n        chwpPower = Number((CHWP_RATED_KW * Math.pow(chwpFreq / 60, 3)).toFixed(2));\n        chwpEff = Number((0.73 + Math.random() * 0.03).toFixed(3));\n    }\n\n    chwpPowers[i - 1] = chwpPower;\n\n    let extra = { group: \"Pump & Cooling Tower Points\", floor: null, equipment_index: i };\n    pushMsg(messages, `building/chwp/${i}/status_read`, `chwp_${i}`, \"status_read\", isActive, extra);\n    pushMsg(messages, `building/chwp/${i}/status_write`, `chwp_${i}`, \"status_write\", isActive, extra);\n    pushMsg(messages, `building/chwp/${i}/alarm`, `chwp_${i}`, \"alarm\", 0, extra);\n    pushMsg(messages, `building/chwp/${i}/frequency_read`, `chwp_${i}`, \"frequency_read\", chwpFreq, extra);\n    pushMsg(messages, `building/chwp/${i}/frequency_write`, `chwp_${i}`, \"frequency_write\", chwpFreq, extra);\n    pushMsg(messages, `building/chwp/${i}/power`, `chwp_${i}`, \"power\", chwpPower, extra);\n    pushMsg(messages, `building/chwp/${i}/efficiency`, `chwp_${i}`, \"efficiency\", chwpEff, extra);\n\n    // CDP\n    let cdpFreq = 0;\n    let cdpPower = 0;\n    let cdpEff = 0;\n\n    if (isActive) {\n        cdpFreq = Number(clamp(rnd(30, 38), 0, 60).toFixed(2));\n        cdpPower = Number((CDP_RATED_KW * Math.pow(cdpFreq / 60, 3)).toFixed(2));\n        cdpEff = Number((0.72 + Math.random() * 0.03).toFixed(3));\n    }\n\n    cdpPowers[i - 1] = cdpPower;\n\n    pushMsg(messages, `building/cdp/${i}/status_read`, `cdp_${i}`, \"status_read\", isActive, extra);\n    pushMsg(messages, `building/cdp/${i}/status_write`, `cdp_${i}`, \"status_write\", isActive, extra);\n    pushMsg(messages, `building/cdp/${i}/alarm`, `cdp_${i}`, \"alarm\", 0, extra);\n    pushMsg(messages, `building/cdp/${i}/frequency_read`, `cdp_${i}`, \"frequency_read\", cdpFreq, extra);\n    pushMsg(messages, `building/cdp/${i}/frequency_write`, `cdp_${i}`, \"frequency_write\", cdpFreq, extra);\n    pushMsg(messages, `building/cdp/${i}/power`, `cdp_${i}`, \"power\", cdpPower, extra);\n    pushMsg(messages, `building/cdp/${i}/efficiency`, `cdp_${i}`, \"efficiency\", cdpEff, extra);\n\n    // CT\n    let ctFreq = 0;\n    let ctPower = 0;\n    let ctEff = 0;\n\n    if (isActive) {\n        ctFreq = Number(clamp(rnd(26, 34), 0, 60).toFixed(2));\n        ctPower = Number((CT_CELL_RATED_KW * Math.pow(ctFreq / 60, 3) * 2).toFixed(2));\n        ctEff = Number((0.69 + Math.random() * 0.04).toFixed(3));\n    }\n\n    ctPowers[i - 1] = ctPower;\n\n    pushMsg(messages, `building/ct/${i}/status_read`, `ct_${i}`, \"status_read\", isActive, extra);\n    pushMsg(messages, `building/ct/${i}/status_write`, `ct_${i}`, \"status_write\", isActive, extra);\n    pushMsg(messages, `building/ct/${i}/alarm`, `ct_${i}`, \"alarm\", 0, extra);\n    pushMsg(messages, `building/ct/${i}/frequency_read`, `ct_${i}`, \"frequency_read\", ctFreq, extra);\n    pushMsg(messages, `building/ct/${i}/frequency_write`, `ct_${i}`, \"frequency_write\", ctFreq, extra);\n    pushMsg(messages, `building/ct/${i}/power`, `ct_${i}`, \"power\", ctPower, extra);\n    pushMsg(messages, `building/ct/${i}/efficiency`, `ct_${i}`, \"efficiency\", ctEff, extra);\n}\n\n// ------------------------------\n// 4) Motorized Valve Points (4 x 3 = 12)\n// ------------------------------\nconst zoneBias = [1.00, 1.03, 0.97, 1.01];\n\nfor (let floor = 1; floor <= 4; floor++) {\n    const zoneLoad = clamp(loadFraction * zoneBias[floor - 1], 0.15, 1.0);\n\n    const valveFeedback = Number(clamp(28 + zoneLoad * 18 + Math.random() * 4, 10, 98).toFixed(2));\n    const valveCommand = Number(clamp(valveFeedback + (Math.random() * 4 - 2), 10, 98).toFixed(2));\n    const valveAlarm = 0;\n\n    const extra = {\n        group: \"Motorized Valve Points\",\n        floor: floor,\n        equipment_index: floor\n    };\n\n    pushMsg(messages, `building/mv/${floor}/status_read`, `mv_${floor}`, \"status_read\", valveFeedback, extra);\n    pushMsg(messages, `building/mv/${floor}/status_write`, `mv_${floor}`, \"status_write\", valveCommand, extra);\n    pushMsg(messages, `building/mv/${floor}/alarm`, `mv_${floor}`, \"alarm\", valveAlarm, extra);\n}\n\n// ------------------------------\n// 5) AHU Monitoring Points (4 x 7 = 28)\n// ------------------------------\nfor (let floor = 1; floor <= 4; floor++) {\n    const zoneLoad = clamp(loadFraction * zoneBias[floor - 1], 0.15, 1.0);\n\n    const roomTemp = Number(clamp(22.6 + zoneLoad * 0.8 + (Math.random() * 0.4 - 0.2), 22.0, 27.5).toFixed(2));\n    const setpoint = 23.0;\n    const humidity = Number(clamp(50 + zoneLoad * 4 + Math.random() * 2, 45, 72).toFixed(2));\n    const ahuAlarm = 0;\n    const ahuPower = Number(clamp(6 + zoneLoad * 3 + Math.random() * 1.2, 4, 22).toFixed(2));\n\n    ahuPowers[floor - 1] = ahuPower;\n    floorPowers[floor - 1] += ahuPower;\n\n    const extra = {\n        group: \"AHU Monitoring Points\",\n        floor: floor,\n        equipment_index: floor\n    };\n\n    pushMsg(messages, `building/ahu/${floor}/room_temperature`, `ahu_${floor}`, \"room_temperature\", roomTemp, extra);\n    pushMsg(messages, `building/ahu/${floor}/setpoint`, `ahu_${floor}`, \"setpoint\", setpoint, extra);\n    pushMsg(messages, `building/ahu/${floor}/status_read`, `ahu_${floor}`, \"status_read\", 1, extra);\n    pushMsg(messages, `building/ahu/${floor}/status_write`, `ahu_${floor}`, \"status_write\", 1, extra);\n    pushMsg(messages, `building/ahu/${floor}/humidity`, `ahu_${floor}`, \"humidity\", humidity, extra);\n    pushMsg(messages, `building/ahu/${floor}/alarm`, `ahu_${floor}`, \"alarm\", ahuAlarm, extra);\n    pushMsg(messages, `building/ahu/${floor}/power`, `ahu_${floor}`, \"power\", ahuPower, extra);\n}\n\n// ------------------------------\n// 6) VAV Control Points (16 x 3 = 48)\n// ------------------------------\nfor (let floor = 1; floor <= 4; floor++) {\n    const zoneLoad = clamp(loadFraction * zoneBias[floor - 1], 0.15, 1.0);\n\n    for (let v = 1; v <= 4; v++) {\n        const vavIndex = (floor - 1) * 4 + v;\n\n        const damperPos = Number(clamp(30 + zoneLoad * 18 + Math.random() * 4, 15, 98).toFixed(2));\n        const airflow = Number(clamp(350 + zoneLoad * 160 + Math.random() * 35, 250, 1100).toFixed(2));\n        const damperCmd = Number(clamp(damperPos + (Math.random() * 4 - 2), 15, 98).toFixed(2));\n\n        const extra = {\n            group: \"VAV Control Points\",\n            floor: floor,\n            equipment_index: vavIndex\n        };\n\n        pushMsg(messages, `building/vav/${vavIndex}/damper_position`, `vav_${vavIndex}`, \"damper_position\", damperPos, extra);\n        pushMsg(messages, `building/vav/${vavIndex}/air_flow_rate`, `vav_${vavIndex}`, \"air_flow_rate\", airflow, extra);\n        pushMsg(messages, `building/vav/${vavIndex}/damper_control`, `vav_${vavIndex}`, \"damper_control\", damperCmd, extra);\n    }\n}\n\n// ------------------------------\n// 7) IAQ Sensor Points (8 x 4 = 32)\n// ------------------------------\nfor (let floor = 1; floor <= 4; floor++) {\n    const zoneLoad = clamp(loadFraction * zoneBias[floor - 1], 0.15, 1.0);\n\n    for (let s = 1; s <= 2; s++) {\n        const iaqIndex = (floor - 1) * 2 + s;\n\n        const temperature = Number(clamp(22.8 + zoneLoad * 0.6 + (Math.random() * 0.3 - 0.15), 22, 28).toFixed(2));\n        const humidity = Number(clamp(50 + zoneLoad * 4 + Math.random() * 2, 45, 68).toFixed(2));\n        const co2 = Number(clamp(430 + zoneLoad * 90 + Math.random() * 35, 380, 1200).toFixed(2));\n        const pm25 = Number(clamp(8 + zoneLoad * 3 + Math.random() * 2, 5, 30).toFixed(2));\n\n        const extra = {\n            group: \"IAQ Sensor Points\",\n            floor: floor,\n            equipment_index: iaqIndex\n        };\n\n        pushMsg(messages, `building/iaq/${iaqIndex}/temperature`, `iaq_${iaqIndex}`, \"temperature\", temperature, extra);\n        pushMsg(messages, `building/iaq/${iaqIndex}/humidity`, `iaq_${iaqIndex}`, \"humidity\", humidity, extra);\n        pushMsg(messages, `building/iaq/${iaqIndex}/co2`, `iaq_${iaqIndex}`, \"co2\", co2, extra);\n        pushMsg(messages, `building/iaq/${iaqIndex}/pm25`, `iaq_${iaqIndex}`, \"pm25\", pm25, extra);\n    }\n}\n\n// ------------------------------\n// 8) Digital Power Meter Points\n// ------------------------------\nconst totalChillerPower = Number(chillerPowers.reduce((a, b) => a + b, 0).toFixed(2));\nconst totalCHWPPower = Number(chwpPowers.reduce((a, b) => a + b, 0).toFixed(2));\nconst totalCDPPower = Number(cdpPowers.reduce((a, b) => a + b, 0).toFixed(2));\nconst totalCTPower = Number(ctPowers.reduce((a, b) => a + b, 0).toFixed(2));\nconst totalAHUPower = Number(ahuPowers.reduce((a, b) => a + b, 0).toFixed(2));\n\nconst miscBuildingPower = Number(clamp(35 + loadFraction * 18 + Math.random() * 6, 20, 110).toFixed(2));\nconst totalBuildingPower = Number((totalChillerPower + totalCHWPPower + totalCDPPower + totalCTPower + totalAHUPower + miscBuildingPower).toFixed(2));\n\nconst voltage = Number(clamp(399 + Math.random() * 8, 398, 410).toFixed(2));\nconst current = Number((totalBuildingPower * 1000 / (Math.sqrt(3) * voltage * 0.92)).toFixed(2));\nconst pf = Number(clamp(0.90 + Math.random() * 0.03, 0.90, 0.95).toFixed(3));\n\n// Main Building Meter\npushMsg(messages, \"building/meter/main/voltage_LL_average\", \"main_meter_1\", \"voltage_LL_average\", voltage, {\n    group: \"Digital Power Meter Points\",\n    floor: null\n});\npushMsg(messages, \"building/meter/main/current\", \"main_meter_1\", \"current\", current, {\n    group: \"Digital Power Meter Points\",\n    floor: null\n});\npushMsg(messages, \"building/meter/main/power\", \"main_meter_1\", \"power\", totalBuildingPower, {\n    group: \"Digital Power Meter Points\",\n    floor: null\n});\npushMsg(messages, \"building/meter/main/power_factor\", \"main_meter_1\", \"power_factor\", pf, {\n    group: \"Digital Power Meter Points\",\n    floor: null\n});\n\n// Floor Sub-Meters\nfor (let floor = 1; floor <= 4; floor++) {\n    const floorLoadShare = Number((miscBuildingPower / 4 + Math.random() * 2.5).toFixed(2));\n    const fPower = Number((floorPowers[floor - 1] + floorLoadShare).toFixed(2));\n    const fVoltage = Number(clamp(399 + Math.random() * 6, 398, 410).toFixed(2));\n    const fCurrent = Number((fPower * 1000 / (Math.sqrt(3) * fVoltage * 0.92)).toFixed(2));\n\n    floorMeterPowers[floor - 1] = fPower;\n\n    pushMsg(messages, `building/meter/floor/${floor}/voltage_LL_average`, `floor_meter_${floor}`, \"voltage_LL_average\", fVoltage, {\n        group: \"Digital Power Meter Points\",\n        floor: floor\n    });\n    pushMsg(messages, `building/meter/floor/${floor}/current`, `floor_meter_${floor}`, \"current\", fCurrent, {\n        group: \"Digital Power Meter Points\",\n        floor: floor\n    });\n    pushMsg(messages, `building/meter/floor/${floor}/power`, `floor_meter_${floor}`, \"power\", fPower, {\n        group: \"Digital Power Meter Points\",\n        floor: floor\n    });\n    pushMsg(messages, `building/meter/floor/${floor}/power_factor`, `floor_meter_${floor}`, \"power_factor\", pf, {\n        group: \"Digital Power Meter Points\",\n        floor: floor\n    });\n}\n\n// Chiller Sub-Meters\nfor (let i = 1; i <= 3; i++) {\n    const p = chillerPowers[i - 1];\n\n    pushMsg(messages, `building/meter/chiller/${i}/voltage_LL_average`, `chiller_meter_${i}`, \"voltage_LL_average\", voltage, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/chiller/${i}/current`, `chiller_meter_${i}`, \"current\", Number((p * 1000 / (Math.sqrt(3) * voltage * 0.92)).toFixed(2)), {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/chiller/${i}/power`, `chiller_meter_${i}`, \"power\", p, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/chiller/${i}/power_factor`, `chiller_meter_${i}`, \"power_factor\", pf, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n}\n\n// CHWP Sub-Meters\nfor (let i = 1; i <= 3; i++) {\n    const p = chwpPowers[i - 1];\n\n    pushMsg(messages, `building/meter/chwp/${i}/voltage_LL_average`, `chwp_meter_${i}`, \"voltage_LL_average\", voltage, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/chwp/${i}/current`, `chwp_meter_${i}`, \"current\", Number((p * 1000 / (Math.sqrt(3) * voltage * 0.92)).toFixed(2)), {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/chwp/${i}/power`, `chwp_meter_${i}`, \"power\", p, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/chwp/${i}/power_factor`, `chwp_meter_${i}`, \"power_factor\", pf, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n}\n\n// CDP Sub-Meters\nfor (let i = 1; i <= 3; i++) {\n    const p = cdpPowers[i - 1];\n\n    pushMsg(messages, `building/meter/cdp/${i}/voltage_LL_average`, `cdp_meter_${i}`, \"voltage_LL_average\", voltage, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/cdp/${i}/current`, `cdp_meter_${i}`, \"current\", Number((p * 1000 / (Math.sqrt(3) * voltage * 0.92)).toFixed(2)), {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/cdp/${i}/power`, `cdp_meter_${i}`, \"power\", p, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/cdp/${i}/power_factor`, `cdp_meter_${i}`, \"power_factor\", pf, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n}\n\n// CT Sub-Meters\nfor (let i = 1; i <= 3; i++) {\n    const p = ctPowers[i - 1];\n\n    pushMsg(messages, `building/meter/ct/${i}/voltage_LL_average`, `ct_meter_${i}`, \"voltage_LL_average\", voltage, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/ct/${i}/current`, `ct_meter_${i}`, \"current\", Number((p * 1000 / (Math.sqrt(3) * voltage * 0.92)).toFixed(2)), {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/ct/${i}/power`, `ct_meter_${i}`, \"power\", p, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n    pushMsg(messages, `building/meter/ct/${i}/power_factor`, `ct_meter_${i}`, \"power_factor\", pf, {\n        group: \"Digital Power Meter Points\",\n        floor: null\n    });\n}\n\n// AHU Sub-Meters\nfor (let i = 1; i <= 4; i++) {\n    const p = ahuPowers[i - 1];\n\n    pushMsg(messages, `building/meter/ahu/${i}/voltage_LL_average`, `ahu_meter_${i}`, \"voltage_LL_average\", voltage, {\n        group: \"Digital Power Meter Points\",\n        floor: i\n    });\n    pushMsg(messages, `building/meter/ahu/${i}/current`, `ahu_meter_${i}`, \"current\", Number((p * 1000 / (Math.sqrt(3) * voltage * 0.92)).toFixed(2)), {\n        group: \"Digital Power Meter Points\",\n        floor: i\n    });\n    pushMsg(messages, `building/meter/ahu/${i}/power`, `ahu_meter_${i}`, \"power\", p, {\n        group: \"Digital Power Meter Points\",\n        floor: i\n    });\n    pushMsg(messages, `building/meter/ahu/${i}/power_factor`, `ahu_meter_${i}`, \"power_factor\", pf, {\n        group: \"Digital Power Meter Points\",\n        floor: i\n    });\n}\n\n// ------------------------------\n// Energy inputs for Energy Accumulator\n// ------------------------------\nconst energy_inputs = {\n    main_meter_1: totalBuildingPower,\n\n    floor_meter_1: floorMeterPowers[0],\n    floor_meter_2: floorMeterPowers[1],\n    floor_meter_3: floorMeterPowers[2],\n    floor_meter_4: floorMeterPowers[3],\n\n    chiller_meter_1: chillerPowers[0],\n    chiller_meter_2: chillerPowers[1],\n    chiller_meter_3: chillerPowers[2],\n\n    chwp_meter_1: chwpPowers[0],\n    chwp_meter_2: chwpPowers[1],\n    chwp_meter_3: chwpPowers[2],\n\n    cdp_meter_1: cdpPowers[0],\n    cdp_meter_2: cdpPowers[1],\n    cdp_meter_3: cdpPowers[2],\n\n    ct_meter_1: ctPowers[0],\n    ct_meter_2: ctPowers[1],\n    ct_meter_3: ctPowers[2],\n\n    ahu_meter_1: ahuPowers[0],\n    ahu_meter_2: ahuPowers[1],\n    ahu_meter_3: ahuPowers[2],\n    ahu_meter_4: ahuPowers[3]\n};\n\n// =====================================================\n// FULL SUMMARY\n// =====================================================\nconst chillerDevices = [\n    { key: \"chiller_1\", idx: 1 },\n    { key: \"chiller_2\", idx: 2 },\n    { key: \"chiller_3\", idx: 3 }\n];\nconst pumpCtDevices = [\n    { key: \"chwp_1\", prefix: \"chwp\", idx: 1 },\n    { key: \"chwp_2\", prefix: \"chwp\", idx: 2 },\n    { key: \"chwp_3\", prefix: \"chwp\", idx: 3 },\n    { key: \"cdp_1\", prefix: \"cdp\", idx: 1 },\n    { key: \"cdp_2\", prefix: \"cdp\", idx: 2 },\n    { key: \"cdp_3\", prefix: \"cdp\", idx: 3 },\n    { key: \"ct_1\", prefix: \"ct\", idx: 1 },\n    { key: \"ct_2\", prefix: \"ct\", idx: 2 },\n    { key: \"ct_3\", prefix: \"ct\", idx: 3 }\n];\nconst mvDevices = [\n    { key: \"mv_1\", idx: 1 },\n    { key: \"mv_2\", idx: 2 },\n    { key: \"mv_3\", idx: 3 },\n    { key: \"mv_4\", idx: 4 }\n];\nconst ahuDevices = [\n    { key: \"ahu_1\", idx: 1 },\n    { key: \"ahu_2\", idx: 2 },\n    { key: \"ahu_3\", idx: 3 },\n    { key: \"ahu_4\", idx: 4 }\n];\nconst vavDevices = Array.from({ length: 16 }, (_, i) => ({ key: `vav_${i + 1}`, idx: i + 1 }));\nconst iaqDevices = Array.from({ length: 8 }, (_, i) => ({ key: `iaq_${i + 1}`, idx: i + 1 }));\nconst weatherDevices = [{ key: \"weather_1\", idx: 1 }];\nconst meterDevices = [\n    { key: \"main_meter_1\", type: \"main\", idx: 1 },\n    { key: \"floor_meter_1\", type: \"floor\", idx: 1 },\n    { key: \"floor_meter_2\", type: \"floor\", idx: 2 },\n    { key: \"floor_meter_3\", type: \"floor\", idx: 3 },\n    { key: \"floor_meter_4\", type: \"floor\", idx: 4 },\n    { key: \"chiller_meter_1\", type: \"chiller\", idx: 1 },\n    { key: \"chiller_meter_2\", type: \"chiller\", idx: 2 },\n    { key: \"chiller_meter_3\", type: \"chiller\", idx: 3 },\n    { key: \"chwp_meter_1\", type: \"chwp\", idx: 1 },\n    { key: \"chwp_meter_2\", type: \"chwp\", idx: 2 },\n    { key: \"chwp_meter_3\", type: \"chwp\", idx: 3 },\n    { key: \"cdp_meter_1\", type: \"cdp\", idx: 1 },\n    { key: \"cdp_meter_2\", type: \"cdp\", idx: 2 },\n    { key: \"cdp_meter_3\", type: \"cdp\", idx: 3 },\n    { key: \"ct_meter_1\", type: \"ct\", idx: 1 },\n    { key: \"ct_meter_2\", type: \"ct\", idx: 2 },\n    { key: \"ct_meter_3\", type: \"ct\", idx: 3 },\n    { key: \"ahu_meter_1\", type: \"ahu\", idx: 1 },\n    { key: \"ahu_meter_2\", type: \"ahu\", idx: 2 },\n    { key: \"ahu_meter_3\", type: \"ahu\", idx: 3 },\n    { key: \"ahu_meter_4\", type: \"ahu\", idx: 4 }\n];\n\nconst summary = {\n    Scenario: scenario,\n    Scenario_label: scenarioLabel,\n    Timestamp: new Date().toISOString(),\n\n    \"Chiller Monitoring Points\": buildGroupSummary(\n        messages,\n        chillerDevices,\n        [\n            \"evap_leaving_water_temperature\",\n            \"evap_entering_water_temperature\",\n            \"evap_water_flow_rate\",\n            \"evap_sat_refrig_temperature\",\n            \"evap_water_delta_temperature\",\n            \"evap_approach_temperature\",\n            \"status_read\",\n            \"status_write\",\n            \"power\",\n            \"alarm\",\n            \"percentage_rla\",\n            \"efficiency\",\n            \"cooling_rate\"\n        ],\n        (d, p) => `building/chiller/${d.idx}/${p}`\n    ),\n\n    \"Pump & Cooling Tower Points\": buildGroupSummary(\n        messages,\n        pumpCtDevices,\n        [\n            \"status_read\",\n            \"status_write\",\n            \"alarm\",\n            \"frequency_read\",\n            \"frequency_write\",\n            \"power\",\n            \"efficiency\"\n        ],\n        (d, p) => `building/${d.prefix}/${d.idx}/${p}`\n    ),\n\n    \"Motorized Valve Points\": buildGroupSummary(\n        messages,\n        mvDevices,\n        [\"status_read\", \"status_write\", \"alarm\"],\n        (d, p) => `building/mv/${d.idx}/${p}`\n    ),\n\n    \"AHU Monitoring Points\": buildGroupSummary(\n        messages,\n        ahuDevices,\n        [\n            \"room_temperature\",\n            \"setpoint\",\n            \"status_read\",\n            \"status_write\",\n            \"humidity\",\n            \"alarm\",\n            \"power\"\n        ],\n        (d, p) => `building/ahu/${d.idx}/${p}`\n    ),\n\n    \"VAV Control Points\": buildGroupSummary(\n        messages,\n        vavDevices,\n        [\"damper_position\", \"air_flow_rate\", \"damper_control\"],\n        (d, p) => `building/vav/${d.idx}/${p}`\n    ),\n\n    \"IAQ Sensor Points\": buildGroupSummary(\n        messages,\n        iaqDevices,\n        [\"temperature\", \"humidity\", \"co2\", \"pm25\"],\n        (d, p) => `building/iaq/${d.idx}/${p}`\n    ),\n\n    \"Outdoor Weather Station Points\": buildGroupSummary(\n        messages,\n        weatherDevices,\n        [\"drybulb_temperature\", \"humidity\", \"wetbulb_temperature\"],\n        (d, p) => `building/weather/${d.idx}/${p}`\n    ),\n\n    \"Digital Power Meter Points\": buildGroupSummary(\n        messages,\n        meterDevices,\n        [\"voltage_LL_average\", \"current\", \"power\", \"energy\", \"power_factor\"],\n        (d, p) => {\n            if (d.type === \"main\") return `building/meter/main/${p}`;\n            return `building/meter/${d.type}/${d.idx}/${p}`;\n        }\n    ),\n\n    extra: {\n        total_chiller_power_kw: totalChillerPower,\n        total_chwp_power_kw: totalCHWPPower,\n        total_cdp_power_kw: totalCDPPower,\n        total_ct_power_kw: totalCTPower,\n        total_ahu_power_kw: totalAHUPower,\n        total_building_power_kw: totalBuildingPower,\n        avg_iaq_co2_ppm: Number(avg(iaqDevices.map(d => getValue(messages, `building/iaq/${d.idx}/co2`))).toFixed(2)),\n        avg_ahu_room_temp_c: Number(avg(ahuDevices.map(d => getValue(messages, `building/ahu/${d.idx}/room_temperature`))).toFixed(2)),\n        payload_count: messages.length\n    }\n};\n\n// =====================================================\n// Compliance Check\n// =====================================================\nconst compliance_check = {\n    scenario: scenario,\n    expected_message_count: 330,\n    actual_message_count: messages.length,\n    pass_total_count: messages.length === 330,\n\n    expected_groups: {\n        \"Chiller Monitoring Points\": 39,\n        \"Pump & Cooling Tower Points\": 63,\n        \"Motorized Valve Points\": 12,\n        \"AHU Monitoring Points\": 28,\n        \"VAV Control Points\": 48,\n        \"IAQ Sensor Points\": 32,\n        \"Outdoor Weather Station Points\": 3,\n        \"Digital Power Meter Points\": 105\n    },\n\n    actual_groups: {\n        \"Chiller Monitoring Points\": messages.filter(m => m.topic.includes(\"/chiller/\") && !m.topic.includes(\"/meter/\")).length,\n        \"Pump & Cooling Tower Points\":\n            messages.filter(m => m.topic.includes(\"/chwp/\") && !m.topic.includes(\"/meter/\")).length +\n            messages.filter(m => m.topic.includes(\"/cdp/\") && !m.topic.includes(\"/meter/\")).length +\n            messages.filter(m => m.topic.includes(\"/ct/\") && !m.topic.includes(\"/meter/\")).length,\n        \"Motorized Valve Points\": messages.filter(m => m.topic.includes(\"/mv/\")).length,\n        \"AHU Monitoring Points\": messages.filter(m => m.topic.includes(\"/ahu/\") && !m.topic.includes(\"/meter/\")).length,\n        \"VAV Control Points\": messages.filter(m => m.topic.includes(\"/vav/\")).length,\n        \"IAQ Sensor Points\": messages.filter(m => m.topic.includes(\"/iaq/\")).length,\n        \"Outdoor Weather Station Points\": messages.filter(m => m.topic.includes(\"/weather/\")).length,\n        \"Digital Power Meter Points\": messages.filter(m => m.topic.includes(\"/meter/\")).length\n    }\n};\n\ncompliance_check.pass_groups =\n    compliance_check.expected_groups[\"Chiller Monitoring Points\"] === compliance_check.actual_groups[\"Chiller Monitoring Points\"] &&\n    compliance_check.expected_groups[\"Pump & Cooling Tower Points\"] === compliance_check.actual_groups[\"Pump & Cooling Tower Points\"] &&\n    compliance_check.expected_groups[\"Motorized Valve Points\"] === compliance_check.actual_groups[\"Motorized Valve Points\"] &&\n    compliance_check.expected_groups[\"AHU Monitoring Points\"] === compliance_check.actual_groups[\"AHU Monitoring Points\"] &&\n    compliance_check.expected_groups[\"VAV Control Points\"] === compliance_check.actual_groups[\"VAV Control Points\"] &&\n    compliance_check.expected_groups[\"IAQ Sensor Points\"] === compliance_check.actual_groups[\"IAQ Sensor Points\"] &&\n    compliance_check.expected_groups[\"Outdoor Weather Station Points\"] === compliance_check.actual_groups[\"Outdoor Weather Station Points\"] &&\n    compliance_check.expected_groups[\"Digital Power Meter Points\"] === compliance_check.actual_groups[\"Digital Power Meter Points\"];\n\n// =====================================================\n// Return\n// =====================================================\nreturn [{\n    payload: messages,\n    summary: summary,\n    compliance: compliance_check,\n    energy_inputs: energy_inputs\n}];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 320,
        "wires": [
            [
                "4c6aab1a07da0cce"
            ]
        ]
    },
    {
        "id": "4c6aab1a07da0cce",
        "type": "function",
        "z": "8c1ad482c6b9a043",
        "name": "Energy Accumulator",
        "func": "// =====================================================\n// Energy Accumulator (Reset-safe + Seeded)\n// Input from scenario function:\n//   msg.payload            = messages array (without energy points)\n//   msg.summary            = summary object\n//   msg.compliance         = compliance object\n//   msg.energy_inputs      = power map for all digital meters\n//\n// Optional controls:\n//   msg.reset_energy_store = true   -> reset accumulated energy to seeded baseline\n//\n// Output:\n//   output 1 = messages array (energy points added back)\n//   output 2 = summary\n//   output 3 = compliance\n// =====================================================\n\n// ------------------------------\n// Time / Keys\n// ------------------------------\nconst ENERGY_STORE_KEY = \"hvac_energy_store_seeded_v1\";\nconst LAST_MS_KEY = \"energy_last_ms_seeded_v1\";\n\nlet nowMs = Date.now();\nlet lastMs = flow.get(LAST_MS_KEY) || nowMs;\nlet intervalSec = (nowMs - lastMs) / 1000;\n\n// กันค่าเพี้ยนตอน deploy/restart\nif (intervalSec <= 0) intervalSec = 1;\nif (intervalSec > 600) intervalSec = 5;\n\nflow.set(LAST_MS_KEY, nowMs);\n\n// ------------------------------\n// Seed baseline from your current realistic values\n// ------------------------------\nconst seededEnergyStore = {\n    main_meter_1: 100000.33,\n\n    floor_meter_1: 10000.01,\n    floor_meter_2: 20000.01,\n    floor_meter_3: 30000.01,\n    floor_meter_4: 40000.01,\n\n    chiller_meter_1: 20000.07,\n    chiller_meter_2: 40000.07,\n    chiller_meter_3: 60000.07,\n\n    chwp_meter_1: 5000.01,\n    chwp_meter_2: 10000.01,\n    chwp_meter_3: 15000.01,\n\n    cdp_meter_1: 6000.01,\n    cdp_meter_2: 12000.01,\n    cdp_meter_3: 18000.01,\n\n    ct_meter_1: 4000.00,\n    ct_meter_2: 8000.00,\n    ct_meter_3: 12000.00,\n\n    ahu_meter_1: 3000.01,\n    ahu_meter_2: 6000.01,\n    ahu_meter_3: 9000.00,\n    ahu_meter_4: 12000.01\n};\n\n// ------------------------------\n// Meter list\n// ------------------------------\nconst meterKeys = Object.keys(seededEnergyStore);\n\n// ------------------------------\n// Clone inputs\n// ------------------------------\nlet messages = Array.isArray(msg.payload) ? [...msg.payload] : [];\nlet summary = msg.summary || {};\nlet compliance = msg.compliance || {};\nlet energyInputs = msg.energy_inputs || {};\n\n// ------------------------------\n// Helpers\n// ------------------------------\nfunction cloneSeedStore() {\n    return JSON.parse(JSON.stringify(seededEnergyStore));\n}\n\nfunction normalizeStore(store) {\n    const out = {};\n    meterKeys.forEach(k => {\n        const v = Number(store?.[k]);\n        out[k] = Number.isNaN(v) ? seededEnergyStore[k] : v;\n    });\n    return out;\n}\n\nfunction buildEnergyTopic(meterKey) {\n    if (meterKey === \"main_meter_1\") return \"building/meter/main/energy\";\n\n    const parts = meterKey.split(\"_\");\n    if (parts.length === 3 && parts[1] === \"meter\") {\n        return `building/meter/${parts[0]}/${parts[2]}/energy`;\n    }\n\n    return `building/meter/${meterKey}/energy`;\n}\n\nfunction getMeterFloor(meterKey) {\n    if (meterKey.startsWith(\"floor_meter_\")) {\n        return Number(meterKey.split(\"_\")[2]);\n    }\n    if (meterKey.startsWith(\"ahu_meter_\")) {\n        return Number(meterKey.split(\"_\")[2]);\n    }\n    return null;\n}\n\nfunction parsePayload(m) {\n    if (!m || !m.payload) return null;\n    try {\n        return JSON.parse(m.payload);\n    } catch (e) {\n        return null;\n    }\n}\n\nfunction upsertEnergyPoint(arr, meterKey, energyValue) {\n    const idx = arr.findIndex(m => {\n        const p = parsePayload(m);\n        return p && p.device === meterKey && p.point === \"energy\";\n    });\n\n    const energyMsg = {\n        topic: buildEnergyTopic(meterKey),\n        payload: JSON.stringify({\n            timestamp: new Date().toISOString(),\n            device: meterKey,\n            point: \"energy\",\n            value: Number(energyValue.toFixed(2)),\n            group: \"Digital Power Meter Points\",\n            floor: getMeterFloor(meterKey)\n        })\n    };\n\n    if (idx >= 0) {\n        arr[idx] = energyMsg;\n    } else {\n        arr.push(energyMsg);\n    }\n}\n\nfunction getValueFromMessages(arr, topic) {\n    const item = arr.find(m => m.topic === topic);\n    if (!item) return null;\n\n    const p = parsePayload(item);\n    if (!p) return null;\n\n    return p.value;\n}\n\nfunction buildGroupSummary(arr, devices, points, topicBuilder) {\n    const result = {};\n    devices.forEach(deviceObj => {\n        const devKey = deviceObj.key;\n        result[devKey] = {};\n        points.forEach(point => {\n            result[devKey][point] = getValueFromMessages(arr, topicBuilder(deviceObj, point));\n        });\n    });\n    return result;\n}\n\n// ------------------------------\n// Meter devices for summary rebuild\n// ------------------------------\nconst meterDevices = [\n    { key: \"main_meter_1\", type: \"main\", idx: 1 },\n\n    { key: \"floor_meter_1\", type: \"floor\", idx: 1 },\n    { key: \"floor_meter_2\", type: \"floor\", idx: 2 },\n    { key: \"floor_meter_3\", type: \"floor\", idx: 3 },\n    { key: \"floor_meter_4\", type: \"floor\", idx: 4 },\n\n    { key: \"chiller_meter_1\", type: \"chiller\", idx: 1 },\n    { key: \"chiller_meter_2\", type: \"chiller\", idx: 2 },\n    { key: \"chiller_meter_3\", type: \"chiller\", idx: 3 },\n\n    { key: \"chwp_meter_1\", type: \"chwp\", idx: 1 },\n    { key: \"chwp_meter_2\", type: \"chwp\", idx: 2 },\n    { key: \"chwp_meter_3\", type: \"chwp\", idx: 3 },\n\n    { key: \"cdp_meter_1\", type: \"cdp\", idx: 1 },\n    { key: \"cdp_meter_2\", type: \"cdp\", idx: 2 },\n    { key: \"cdp_meter_3\", type: \"cdp\", idx: 3 },\n\n    { key: \"ct_meter_1\", type: \"ct\", idx: 1 },\n    { key: \"ct_meter_2\", type: \"ct\", idx: 2 },\n    { key: \"ct_meter_3\", type: \"ct\", idx: 3 },\n\n    { key: \"ahu_meter_1\", type: \"ahu\", idx: 1 },\n    { key: \"ahu_meter_2\", type: \"ahu\", idx: 2 },\n    { key: \"ahu_meter_3\", type: \"ahu\", idx: 3 },\n    { key: \"ahu_meter_4\", type: \"ahu\", idx: 4 }\n];\n\n// ------------------------------\n// Load / Reset context\n// ------------------------------\nlet energyStore = flow.get(ENERGY_STORE_KEY);\n\nif (msg.reset_energy_store === true) {\n    energyStore = cloneSeedStore();\n    flow.set(ENERGY_STORE_KEY, energyStore);\n    flow.set(LAST_MS_KEY, nowMs);\n} else if (!energyStore) {\n    energyStore = cloneSeedStore();\n} else {\n    energyStore = normalizeStore(energyStore);\n}\n\n// ------------------------------\n// Accumulate energy\n// ------------------------------\nmeterKeys.forEach((meterKey) => {\n    const power = Number(energyInputs[meterKey] || 0);\n\n    // ถ้า power > 0 ค่อยสะสม\n    // ถ้า power = 0 ให้คงค่าเดิม\n    if (!Number.isNaN(power) && power > 0) {\n        energyStore[meterKey] += power * (intervalSec / 3600);\n    }\n\n    // กันติดลบเผื่อกรณีมีค่าเพี้ยนจากภายนอก\n    if (energyStore[meterKey] < 0) {\n        energyStore[meterKey] = seededEnergyStore[meterKey];\n    }\n\n    upsertEnergyPoint(messages, meterKey, energyStore[meterKey]);\n});\n\n// save store\nflow.set(ENERGY_STORE_KEY, energyStore);\n\n// ------------------------------\n// Update summary\n// ------------------------------\nif (!summary.extra) summary.extra = {};\nsummary.extra.energy_store_snapshot = { ...energyStore };\nsummary.extra.payload_count = messages.length;\nsummary.extra.energy_interval_sec = intervalSec;\nsummary.extra.energy_seed_mode = \"seeded_baseline\";\n\nsummary[\"Digital Power Meter Points\"] = buildGroupSummary(\n    messages,\n    meterDevices,\n    [\"voltage_LL_average\", \"current\", \"power\", \"energy\", \"power_factor\"],\n    (d, p) => {\n        if (d.type === \"main\") return `building/meter/main/${p}`;\n        return `building/meter/${d.type}/${d.idx}/${p}`;\n    }\n);\n\n// ------------------------------\n// Update compliance\n// ------------------------------\nif (compliance && compliance.expected_message_count) {\n    compliance.actual_message_count = messages.length;\n    compliance.pass_total_count = messages.length === compliance.expected_message_count;\n}\n\nif (compliance && compliance.expected_groups) {\n    compliance.actual_groups = {\n        \"Chiller Monitoring Points\": messages.filter(m => m.topic.includes(\"/chiller/\") && !m.topic.includes(\"/meter/\")).length,\n        \"Pump & Cooling Tower Points\":\n            messages.filter(m => m.topic.includes(\"/chwp/\") && !m.topic.includes(\"/meter/\")).length +\n            messages.filter(m => m.topic.includes(\"/cdp/\") && !m.topic.includes(\"/meter/\")).length +\n            messages.filter(m => m.topic.includes(\"/ct/\") && !m.topic.includes(\"/meter/\")).length,\n        \"Motorized Valve Points\": messages.filter(m => m.topic.includes(\"/mv/\")).length,\n        \"AHU Monitoring Points\": messages.filter(m => m.topic.includes(\"/ahu/\") && !m.topic.includes(\"/meter/\")).length,\n        \"VAV Control Points\": messages.filter(m => m.topic.includes(\"/vav/\")).length,\n        \"IAQ Sensor Points\": messages.filter(m => m.topic.includes(\"/iaq/\")).length,\n        \"Outdoor Weather Station Points\": messages.filter(m => m.topic.includes(\"/weather/\")).length,\n        \"Digital Power Meter Points\": messages.filter(m => m.topic.includes(\"/meter/\")).length\n    };\n\n    compliance.pass_groups =\n        compliance.expected_groups[\"Chiller Monitoring Points\"] === compliance.actual_groups[\"Chiller Monitoring Points\"] &&\n        compliance.expected_groups[\"Pump & Cooling Tower Points\"] === compliance.actual_groups[\"Pump & Cooling Tower Points\"] &&\n        compliance.expected_groups[\"Motorized Valve Points\"] === compliance.actual_groups[\"Motorized Valve Points\"] &&\n        compliance.expected_groups[\"AHU Monitoring Points\"] === compliance.actual_groups[\"AHU Monitoring Points\"] &&\n        compliance.expected_groups[\"VAV Control Points\"] === compliance.actual_groups[\"VAV Control Points\"] &&\n        compliance.expected_groups[\"IAQ Sensor Points\"] === compliance.actual_groups[\"IAQ Sensor Points\"] &&\n        compliance.expected_groups[\"Outdoor Weather Station Points\"] === compliance.actual_groups[\"Outdoor Weather Station Points\"] &&\n        compliance.expected_groups[\"Digital Power Meter Points\"] === compliance.actual_groups[\"Digital Power Meter Points\"];\n}\n\n// ------------------------------\n// Return\n// ------------------------------\nreturn [\n    { payload: messages },\n    { payload: summary },\n    { payload: compliance }\n];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 300,
        "wires": [
            [
                "12cef9df2209709f",
                "d310a84ad48334e0"
            ],
            [
                "5fcb5e8995f6cf8c"
            ],
            [
                "e92eb3e0e087955e"
            ]
        ]
    },
    {
        "id": "d310a84ad48334e0",
        "type": "debug",
        "z": "8c1ad482c6b9a043",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 200,
        "wires": []
    },
    {
        "id": "ba2e47d9de68ec42",
        "type": "debug",
        "z": "8c1ad482c6b9a043",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 340,
        "wires": []
    },
    {
        "id": "5445dcf6d0fcdcbb",
        "type": "function",
        "z": "8c1ad482c6b9a043",
        "name": "mqtt payload format",
        "func": "// หลัง split ตอนนี้ msg.payload มีโครงแบบ:\n// {\n//   topic: \"...\",\n//   payload: \"{\\\"timestamp\\\":\\\"...\\\"}\"\n// }\n\nif (!msg.payload || !msg.payload.topic) {\n    node.error(\"Missing payload.topic\", msg);\n    return null;\n}\n\nmsg.topic = msg.payload.topic;\n\nif (typeof msg.payload.payload === \"string\") {\n    try {\n        msg.payload = JSON.parse(msg.payload.payload);\n    } catch (e) {\n        node.error(\"Invalid JSON in payload.payload\", msg);\n        return null;\n    }\n} else {\n    msg.payload = msg.payload.payload;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 260,
        "wires": [
            [
                "ba2e47d9de68ec42",
                "5d6fbcde78d54451"
            ]
        ]
    },
    {
        "id": "73193c80d5660845",
        "type": "function",
        "z": "8c1ad482c6b9a043",
        "name": "selector time",
        "func": "let now = new Date();\nlet hour = now.getHours();\nlet day = now.getDay(); // 0 = Sunday, 1 = Monday, ..., 6 = Saturday\n\nlet isWeekday = day >= 1 && day <= 5; // Mon-Fri\nlet isWeekend = day === 0 || day === 6; // Sat-Sun\n\nif (hour >= 9 && hour < 17) {\n    if (isWeekday) {\n        msg.scenario = \"peak\";\n    } else if (isWeekend) {\n        msg.scenario = \"medium\";\n    }\n} else {\n    msg.scenario = \"night\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 100,
        "wires": [
            [
                "9011012a19d0bbc2",
                "4566b35ebffe6296"
            ]
        ]
    },
    {
        "id": "9d5bd68379f727ef",
        "type": "inject",
        "z": "8c1ad482c6b9a043",
        "name": "Startup Init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "73193c80d5660845"
            ]
        ]
    },
    {
        "id": "9011012a19d0bbc2",
        "type": "switch",
        "z": "8c1ad482c6b9a043",
        "name": "Scenario Selector ",
        "property": "scenario",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "peak",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "medium",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "night",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "bda2274fc3720195"
            ],
            [
                "98416890076af193"
            ],
            [
                "fe5f6a04bf2ed09f"
            ]
        ]
    },
    {
        "id": "4566b35ebffe6296",
        "type": "debug",
        "z": "8c1ad482c6b9a043",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "8413232be0e32b99",
        "type": "inject",
        "z": "8c1ad482c6b9a043",
        "name": "Night",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/1 0-8 * * 6,0",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "c1cfde3e8574412e",
        "type": "mqtt-broker",
        "name": "local-mqtt",
        "broker": "mqtt",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]